

/* scene */
.scene { display: block; position: relative; box-sizing: border-box; padding: 37px; height: 100vh; 
	.title-time { display: block; position: absolute; top: 133px; left: 67px; text-indent: -9999px; opacity: 1; }
}


/* scene - home */
.scene.home { background: #2a2847 url('../images/scene_home/bg_last.png') center center no-repeat; background-size: cover;
	> .inner { display: block; position: absolute; top: 0; left: 50%; margin-left: -600px; height: 100%; width: 1200px; background: url('../images/scene_home/bg_constellation.png') center center no-repeat; }

	/* init */
	.moon { display: block; position: absolute; top: 7.87037037037%; left: 50%; margin-left: -$s-scene01-moon-width/2; @include sprite($s-scene01-moon); }
	.title { display: block; position: absolute; top: 49.814814814815%; left: 50%; margin-left: -$s-scene01-txt01-width/2; @include sprite($s-scene01-txt01); }
	.description { display: block; position: absolute; top: 67.962962962963%; left: 50%; margin-left: -$s-scene01-txt02-width/2; @include sprite($s-scene01-txt02); }
	.wally { display: block; position: absolute; top: 12.037037037037%; left: 50%; margin-left: -$s-scene01-wally-width/1.8; @include sprite($s-scene01-wally); }

	/* scroll start */
	.btn-start { display: block; position: absolute; bottom: 8.148148148148%; left: 50%; margin-left: -$s-scene01-start-width/2; text-indent: -9999px; @include sprite($s-scene01-start); }

	/* after motion */
	.bg-animation { height: 100vh; }
	.dark-city { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/01_darkcity.png') center top no-repeat; }
	.empirebuilding { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/02_empirebuilding.png') center top no-repeat; }
	.cloud-big { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/03_cloud_big.png') center top no-repeat; }
	.mountain { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/04_mount.png') center top no-repeat; }
	.sea { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: #9bc1f8 url('../images/scene_home/05_sea.png') center top no-repeat; }
	.day-building { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/06_daybuilding.png') center bottom no-repeat; }
	.outlet { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/07_outlet.png') center bottom no-repeat; }
}


/* scene - home */
.scene.arrived { overflow: hidden; background: #3e5c9b url('../images/scene_arrived/bg_last.jpg') center center no-repeat; background-size: cover;
	.title-time { @include sprite($s-title-1030); }

	/* init */
	.bg01 { display: block; position: absolute; bottom: 0; left: 50%; margin-left: -$s-scene03-bg01-width/2; @include sprite($s-scene03-bg01); }
	.wally { display: block; position: absolute; bottom: 0; left: 0; @include sprite($s-scene03-wally); opacity: 1; }
	.txt01 { display: block; position: absolute; bottom: $s-scene03-wally-height - 102; left: $s-scene03-wally-width - 260; text-indent: -9999px; @include sprite($s-scene03-txt01); opacity: 1; }
}