

/* scene */
.scene { display: block; position: relative; box-sizing: border-box; padding: 37px; height: 100vh; 
	.title-time { display: block; position: absolute; top: 90px; left: 30px; text-indent: -9999px; opacity: 1; }
}


/* scene - home */
.scene.home { background: #2a2847 url('../images/scene_home/bg_last.png') center center no-repeat; background-size: cover;
	> .inner { display: block; position: absolute; top: 0; left: 50%; margin-left: -600px; height: 100%; width: 1200px; background: url('../images/scene_home/bg_constellation.png') center center no-repeat; }

	/* init */
	.moon { display: block; position: absolute; top: 7.87037037037%; left: 50%; margin-left: -$s-scene01-moon-width/2; @include sprite($s-scene01-moon); }
	.title { display: block; position: absolute; top: 49.814814814815%; left: 50%; margin-left: -$s-scene01-txt01-width/2; @include sprite($s-scene01-txt01); }
	.description { display: block; position: absolute; top: 67.962962962963%; left: 50%; margin-left: -$s-scene01-txt02-width/2; @include sprite($s-scene01-txt02); }
	.wally { display: block; position: absolute; top: 12.037037037037%; left: 50%; margin-left: -$s-scene01-wally-width/1.8; @include sprite($s-scene01-wally); }

	/* scroll start */
	.btn-start { display: block; position: absolute; bottom: 8.148148148148%; left: 50%; margin-left: -$s-scene01-start-width/2; text-indent: -9999px; @include sprite($s-scene01-start); }

	/* after motion */
	.bg-animation { height: 100vh; }
	.dark-city { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/01_darkcity.png') center top no-repeat; }
	.empirebuilding { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/02_empirebuilding.png') center top no-repeat; }
	.cloud-big { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/03_cloud_big.png') center top no-repeat; }
	.mountain { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/04_mount.png') center top no-repeat; }
	.sea { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: #9bc1f8 url('../images/scene_home/05_sea.png') center top no-repeat; }
	.day-building { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/06_daybuilding.png') center bottom no-repeat; }
	.outlet { display: block; position: absolute; top: 100%; left: 0; width: 100%; background: url('../images/scene_home/07_outlet.png') center bottom no-repeat; }
}


/* scene - arrived outlet */
.scene.arrived { overflow: hidden; background: #3e5c9b url('../images/scene_arrived/bg_last.jpg') center center no-repeat; background-size: cover;
	.title-time { @include sprite($s-title-1030); }

	/* init */
	.bg01 { display: block; position: absolute; bottom: 0; left: 50%; margin-left: -$s-scene03-bg01-width/2; @include sprite($s-scene03-bg01); }
	.wally { display: block; position: absolute; bottom: 0; left: 0; @include sprite($s-scene03-wally); opacity: 1; }
	.txt01 { display: block; position: absolute; bottom: $s-scene03-wally-height - 102; left: $s-scene03-wally-width - 260; text-indent: -9999px; @include sprite($s-scene03-txt01); opacity: 1; }
}

/* scene - outlet brand */
.scene.brand { overflow: hidden; background: #8ca6d6 url('../images/scene_brand/bg_last.png') center center no-repeat;
	.title-time { z-index: z("default"); @include sprite($s-title-1100); }

	.outlet-brand { position: absolute; top: 50%; left: 50%; z-index: z("default"); margin-top: -126px; margin-left: -524px; height: 252px; width: 1048px;
		.btn { display: block; position: relative; float: left; padding: 0 20px; height: 252px; width: 222px;
			&:before { content: ''; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-position: center center; background-repeat: no-repeat; }

			> span { display: block; position: absolute; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; }
			
			&.luxury {
				&:before { background-image: url('../images/scene_brand/menu_box01.png'); }
				> span { top: 36px; left: -31px; height: 128px; width: 232px; background-image: url('../images/scene_brand/menu_object01.png'); }
			}
			
			&.sport-factory {
				&:before { background-image: url('../images/scene_brand/menu_box02.png'); }
				> span { top: 100px; left: 52px; height: 237px; width: 217px; background-image: url('../images/scene_brand/menu_object02.png'); }
			}
			
			&.fashion {
				&:before { background-image: url('../images/scene_brand/menu_box03.png'); }
				> span { top: -69px; left: 68px; height: 271px; width: 200px; background-image: url('../images/scene_brand/menu_object03.png'); }
			}
			
			&.handsome {
				&:before { background-image: url('../images/scene_brand/menu_box04.png'); }
				> span { top: 80px; left: 24px; height: 197px; width: 246px; background-image: url('../images/scene_brand/menu_object04.png'); }
			}
		}
	}

	.bag { display: block; position: absolute; top: 0; right: 0; text-indent: -9999px; @include sprite($s-scene04-object01); opacity: 1;  }
	.wally { display: block; position: absolute; bottom: 0; right: 0; text-indent: -9999px; @include sprite($s-scene04-wally); opacity: 1;  }
	.wilma { display: block; position: absolute; bottom: 0; left: 0; text-indent: -9999px; @include sprite($s-scene04-wilma); opacity: 1;  }

	.bg01 { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 1; background: url('../images/scene_brand/menu_bg01.jpg') center center no-repeat; background-size: cover; opacity: 0; }
	.bg02 { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 1; background: url('../images/scene_brand/menu_bg02.jpg') center center no-repeat; background-size: cover; opacity: 0; }
	.bg03 { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 1; background: url('../images/scene_brand/menu_bg03.jpg') center center no-repeat; background-size: cover; opacity: 0; }
	.bg04 { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 1; background: url('../images/scene_brand/menu_bg04.jpg') center center no-repeat; background-size: cover; opacity: 0; }
}


