
html { box-sizing: border-box; height: 101%; }
body { overflow-x: hidden; overflow-y: auto; padding-right: 50px; }


/* menus dimmed */
.dimmed { display: block; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: z("modaless")-1; background-color: rgba(0, 0, 0, 0.5); }



/* time layer */
.time-layer { display: block; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 2; background-color: rgba(43, 49, 110, 0.8); opacity: 0;
	.bg-time04 { background-color: rgba(33, 20, 15, 0.8); }
	.bg-time06 { background-color: rgba(15, 33, 33, 0.8); }

	.time { display: block; position: absolute; top: 50%; margin-top: -129px; width: 100%; text-indent: -9999px;
		> .now { display: block; margin: 0 auto; opacity: 0; }
		> .now-txt { display: block; margin: 50px auto 0 auto; opacity: 0; }

		&.time01 {
			> .now { @include sprite($s-time-1030); }
			> .now-txt { @include sprite($s-time-1030-txt); }
		}
		&.time02 {
			> .now { @include sprite($s-time-1100); }
			> .now-txt { @include sprite($s-time-1100-txt); }
		}
		&.time03 {
			> .now { @include sprite($s-time-1300); }
			> .now-txt { @include sprite($s-time-1300-txt); }
		}
		&.time04 {
			> .now { @include sprite($s-time-1500); }
			> .now-txt { @include sprite($s-time-1500-txt); }
		}
		&.time05 {
			> .now { @include sprite($s-time-1700); }
			> .now-txt { @include sprite($s-time-1700-txt); }
		}
		&.time06 {
			> .now { @include sprite($s-time-1900); }
			> .now-txt { @include sprite($s-time-1900-txt); }
		}
		&.time07 {
			> .now { @include sprite($s-time-2100); }
			> .now-txt { @include sprite($s-time-2100-txt); }
		}
	}
}



/* memus */
.menus { display: block; position: fixed; top: 0px; right: 0px; bottom: 0px; z-index: z("modaless"); width: 50px; background-color: #fff;

	.title-area { display: block; position: fixed; top: 30px; left: 30px;
		.sondgo { display: block; text-indent: -9999px; @include sprite($s-title-songdo); }
	}

	
	$button-size : 24px;
	$transition: .3s;

	@mixin line { display: inline-block; height: 3px; width: 24px; background-color: #000; transition: $transition; }
	.btn-toggle-menu { display: block; position: absolute; top: 10px; right: 7px; padding: 8px 6px 12px 6px; transition: .3s; cursor: pointer; user-select: none; border-radius: $button-size/7;
		&:hover { opacity: 1; }

		&:active { transition: 0; background-color: rgba(0,0,0,.1); }

		.lines { @include line; position: relative; 
			&:before, &:after { content: ''; position: absolute; left: 0; transform-origin: $button-size/14 center;
				@include line;
			}
			&:before { top: $button-size/3; }
			&:after { top: -$button-size/3; }
		}

		&.is-selected {
			.lines { background-color: transparent;
				&:before, &:after {
					top: 0; width: $button-size; transform-origin: 50% 50%;
				}

				&:before { transform: rotate3d(0,0,1,45deg); }
				&:after { transform: rotate3d(0,0,1,-45deg); }
			}
		}
	}

	.open-menus { display: block; box-sizing: border-box; overflow: hidden; padding: 0 26px; height: 100%;
		.logo { display: block; margin: 58px auto 0 auto; text-indent: -9999px; @include sprite($s-logo01); }

		.list-menus { margin-top: 38px;
			> li { padding: 15px 0;
				a { display: block; position: relative; margin: 0 auto; text-indent: -9999px;
					&:hover {
						&:before { content: ''; display: block; position: absolute; bottom: -8px; right: -4px; left: -4px; height: 3px; background-color: #000; }
					}

					&.btn-home { @include sprite($s-btn-nav01);
						&:hover { @include sprite($s-btn-nav01-selected); }
					}
					&.btn-location { @include sprite($s-btn-nav02);
						&:hover { @include sprite($s-btn-nav02-selected); }
					}
					&.btn-floor { @include sprite($s-btn-nav03);
						&:hover { @include sprite($s-btn-nav03-selected); }
					}
					&.btn-membership { @include sprite($s-btn-nav04);
						&:hover { @include sprite($s-btn-nav04-selected); }
					}
					&.btn-coupon { @include sprite($s-btn-nav05);
						&:hover { @include sprite($s-btn-nav05-selected); }
					}
				}
			}

			&.is-hover {
				a {
					&.btn-home { @include sprite($s-btn-nav01-disabled); }
					&.btn-location { @include sprite($s-btn-nav02-disabled); }
					&.btn-floor { @include sprite($s-btn-nav03-disabled); }
					&.btn-membership { @include sprite($s-btn-nav04-disabled); }
					&.btn-coupon { @include sprite($s-btn-nav05-disabled); }
				}
			}
		}


		.banners {
			a { display: block; margin-top: 20px; height: 135px; width: 183px; background-color: #0f0; }
		}
	}
	
	.list-indicators { display: block; position: absolute; top: 50%; left: 50%; margin-top: -179px; margin-left: -2px; width: 4px;
		> li { margin: 3px 0; height: 24px; width: 4px; background-color: #9a9a9a;
			&.long { height: 70px; }
			&.is-selected { background-color: #000;
				> a {
					span { display: block; opacity: 1; }
				}
			}
			
			> a { display: block; position: relative; height: 100%; width: 100%;
				&:hover { background-color: #000;
					span { display: block; opacity: 1; }
				}

				span { display: block; box-sizing: border-box; position: absolute; top: -15px; left: -207px; padding-left: 20px; height: 48px; width: 184px; font-size: 14px; color: #fff; line-height: 48px; text-decoration: none; background-color: #000;
					&:before { content: ''; display: block; position: absolute; top: 50%; right: -$s-bg-arrow01-width; margin-top: -$s-bg-arrow01-height/2; @include sprite($s-bg-arrow01); }
					
					opacity: 0;
					transition: opacity 0.3s ease-in;

					time { display: block; position: absolute; top: 0; right: 0; padding-right: 22px; line-height: 48px; }
				}
			}
		}
	}	
}


/* popup */
.popup { position: relative; box-sizing: border-box; padding: 100px; height: 100vh; background-color: #fff;
	.mfp-close { display: block; position: absolute; top: 10px; right: 10px; cursor: pointer !important; text-align: left; text-indent: -9999px; @include sprite($s-btn-close01); }
	p { display: block; width: 900px; margin: 0 auto; }
}


