/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-arrow01-name: 's-bg_arrow01';
$s-bg-arrow01-x: 2961px;
$s-bg-arrow01-y: 494px;
$s-bg-arrow01-offset-x: -2961px;
$s-bg-arrow01-offset-y: -494px;
$s-bg-arrow01-width: 12px;
$s-bg-arrow01-height: 24px;
$s-bg-arrow01-total-width: 2996px;
$s-bg-arrow01-total-height: 2859px;
$s-bg-arrow01-image: '../images/sprites.png';
$s-bg-arrow01: (2961px, 494px, -2961px, -494px, 12px, 24px, 2996px, 2859px, '../images/sprites.png', 's-bg_arrow01', );
$s-btn-close01-name: 's-btn_close01';
$s-btn-close01-x: 2934px;
$s-btn-close01-y: 646px;
$s-btn-close01-offset-x: -2934px;
$s-btn-close01-offset-y: -646px;
$s-btn-close01-width: 52px;
$s-btn-close01-height: 52px;
$s-btn-close01-total-width: 2996px;
$s-btn-close01-total-height: 2859px;
$s-btn-close01-image: '../images/sprites.png';
$s-btn-close01: (2934px, 646px, -2934px, -646px, 52px, 52px, 2996px, 2859px, '../images/sprites.png', 's-btn_close01', );
$s-btn-nav01-name: 's-btn_nav01';
$s-btn-nav01-x: 2961px;
$s-btn-nav01-y: 470px;
$s-btn-nav01-offset-x: -2961px;
$s-btn-nav01-offset-y: -470px;
$s-btn-nav01-width: 18px;
$s-btn-nav01-height: 19px;
$s-btn-nav01-total-width: 2996px;
$s-btn-nav01-total-height: 2859px;
$s-btn-nav01-image: '../images/sprites.png';
$s-btn-nav01: (2961px, 470px, -2961px, -470px, 18px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav01', );
$s-btn-nav01-disabled-name: 's-btn_nav01_disabled';
$s-btn-nav01-disabled-x: 2961px;
$s-btn-nav01-disabled-y: 446px;
$s-btn-nav01-disabled-offset-x: -2961px;
$s-btn-nav01-disabled-offset-y: -446px;
$s-btn-nav01-disabled-width: 18px;
$s-btn-nav01-disabled-height: 19px;
$s-btn-nav01-disabled-total-width: 2996px;
$s-btn-nav01-disabled-total-height: 2859px;
$s-btn-nav01-disabled-image: '../images/sprites.png';
$s-btn-nav01-disabled: (2961px, 446px, -2961px, -446px, 18px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav01_disabled', );
$s-btn-nav01-selected-name: 's-btn_nav01_selected';
$s-btn-nav01-selected-x: 2961px;
$s-btn-nav01-selected-y: 422px;
$s-btn-nav01-selected-offset-x: -2961px;
$s-btn-nav01-selected-offset-y: -422px;
$s-btn-nav01-selected-width: 18px;
$s-btn-nav01-selected-height: 19px;
$s-btn-nav01-selected-total-width: 2996px;
$s-btn-nav01-selected-total-height: 2859px;
$s-btn-nav01-selected-image: '../images/sprites.png';
$s-btn-nav01-selected: (2961px, 422px, -2961px, -422px, 18px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav01_selected', );
$s-btn-nav02-name: 's-btn_nav02';
$s-btn-nav02-x: 2921px;
$s-btn-nav02-y: 871px;
$s-btn-nav02-offset-x: -2921px;
$s-btn-nav02-offset-y: -871px;
$s-btn-nav02-width: 70px;
$s-btn-nav02-height: 19px;
$s-btn-nav02-total-width: 2996px;
$s-btn-nav02-total-height: 2859px;
$s-btn-nav02-image: '../images/sprites.png';
$s-btn-nav02: (2921px, 871px, -2921px, -871px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav02', );
$s-btn-nav02-disabled-name: 's-btn_nav02_disabled';
$s-btn-nav02-disabled-x: 2921px;
$s-btn-nav02-disabled-y: 895px;
$s-btn-nav02-disabled-offset-x: -2921px;
$s-btn-nav02-disabled-offset-y: -895px;
$s-btn-nav02-disabled-width: 70px;
$s-btn-nav02-disabled-height: 19px;
$s-btn-nav02-disabled-total-width: 2996px;
$s-btn-nav02-disabled-total-height: 2859px;
$s-btn-nav02-disabled-image: '../images/sprites.png';
$s-btn-nav02-disabled: (2921px, 895px, -2921px, -895px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav02_disabled', );
$s-btn-nav02-selected-name: 's-btn_nav02_selected';
$s-btn-nav02-selected-x: 2921px;
$s-btn-nav02-selected-y: 919px;
$s-btn-nav02-selected-offset-x: -2921px;
$s-btn-nav02-selected-offset-y: -919px;
$s-btn-nav02-selected-width: 70px;
$s-btn-nav02-selected-height: 19px;
$s-btn-nav02-selected-total-width: 2996px;
$s-btn-nav02-selected-total-height: 2859px;
$s-btn-nav02-selected-image: '../images/sprites.png';
$s-btn-nav02-selected: (2921px, 919px, -2921px, -919px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav02_selected', );
$s-btn-nav03-name: 's-btn_nav03';
$s-btn-nav03-x: 2921px;
$s-btn-nav03-y: 943px;
$s-btn-nav03-offset-x: -2921px;
$s-btn-nav03-offset-y: -943px;
$s-btn-nav03-width: 70px;
$s-btn-nav03-height: 19px;
$s-btn-nav03-total-width: 2996px;
$s-btn-nav03-total-height: 2859px;
$s-btn-nav03-image: '../images/sprites.png';
$s-btn-nav03: (2921px, 943px, -2921px, -943px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav03', );
$s-btn-nav03-disabled-name: 's-btn_nav03_disabled';
$s-btn-nav03-disabled-x: 2921px;
$s-btn-nav03-disabled-y: 967px;
$s-btn-nav03-disabled-offset-x: -2921px;
$s-btn-nav03-disabled-offset-y: -967px;
$s-btn-nav03-disabled-width: 70px;
$s-btn-nav03-disabled-height: 19px;
$s-btn-nav03-disabled-total-width: 2996px;
$s-btn-nav03-disabled-total-height: 2859px;
$s-btn-nav03-disabled-image: '../images/sprites.png';
$s-btn-nav03-disabled: (2921px, 967px, -2921px, -967px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav03_disabled', );
$s-btn-nav03-selected-name: 's-btn_nav03_selected';
$s-btn-nav03-selected-x: 2882px;
$s-btn-nav03-selected-y: 1003px;
$s-btn-nav03-selected-offset-x: -2882px;
$s-btn-nav03-selected-offset-y: -1003px;
$s-btn-nav03-selected-width: 70px;
$s-btn-nav03-selected-height: 19px;
$s-btn-nav03-selected-total-width: 2996px;
$s-btn-nav03-selected-total-height: 2859px;
$s-btn-nav03-selected-image: '../images/sprites.png';
$s-btn-nav03-selected: (2882px, 1003px, -2882px, -1003px, 70px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav03_selected', );
$s-btn-nav04-name: 's-btn_nav04';
$s-btn-nav04-x: 2934px;
$s-btn-nav04-y: 703px;
$s-btn-nav04-offset-x: -2934px;
$s-btn-nav04-offset-y: -703px;
$s-btn-nav04-width: 51px;
$s-btn-nav04-height: 19px;
$s-btn-nav04-total-width: 2996px;
$s-btn-nav04-total-height: 2859px;
$s-btn-nav04-image: '../images/sprites.png';
$s-btn-nav04: (2934px, 703px, -2934px, -703px, 51px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav04', );
$s-btn-nav04-disabled-name: 's-btn_nav04_disabled';
$s-btn-nav04-disabled-x: 2934px;
$s-btn-nav04-disabled-y: 727px;
$s-btn-nav04-disabled-offset-x: -2934px;
$s-btn-nav04-disabled-offset-y: -727px;
$s-btn-nav04-disabled-width: 51px;
$s-btn-nav04-disabled-height: 19px;
$s-btn-nav04-disabled-total-width: 2996px;
$s-btn-nav04-disabled-total-height: 2859px;
$s-btn-nav04-disabled-image: '../images/sprites.png';
$s-btn-nav04-disabled: (2934px, 727px, -2934px, -727px, 51px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav04_disabled', );
$s-btn-nav04-selected-name: 's-btn_nav04_selected';
$s-btn-nav04-selected-x: 2934px;
$s-btn-nav04-selected-y: 751px;
$s-btn-nav04-selected-offset-x: -2934px;
$s-btn-nav04-selected-offset-y: -751px;
$s-btn-nav04-selected-width: 51px;
$s-btn-nav04-selected-height: 19px;
$s-btn-nav04-selected-total-width: 2996px;
$s-btn-nav04-selected-total-height: 2859px;
$s-btn-nav04-selected-image: '../images/sprites.png';
$s-btn-nav04-selected: (2934px, 751px, -2934px, -751px, 51px, 19px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav04_selected', );
$s-btn-nav05-name: 's-btn_nav05';
$s-btn-nav05-x: 2934px;
$s-btn-nav05-y: 775px;
$s-btn-nav05-offset-x: -2934px;
$s-btn-nav05-offset-y: -775px;
$s-btn-nav05-width: 53px;
$s-btn-nav05-height: 18px;
$s-btn-nav05-total-width: 2996px;
$s-btn-nav05-total-height: 2859px;
$s-btn-nav05-image: '../images/sprites.png';
$s-btn-nav05: (2934px, 775px, -2934px, -775px, 53px, 18px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav05', );
$s-btn-nav05-disabled-name: 's-btn_nav05_disabled';
$s-btn-nav05-disabled-x: 2934px;
$s-btn-nav05-disabled-y: 798px;
$s-btn-nav05-disabled-offset-x: -2934px;
$s-btn-nav05-disabled-offset-y: -798px;
$s-btn-nav05-disabled-width: 53px;
$s-btn-nav05-disabled-height: 18px;
$s-btn-nav05-disabled-total-width: 2996px;
$s-btn-nav05-disabled-total-height: 2859px;
$s-btn-nav05-disabled-image: '../images/sprites.png';
$s-btn-nav05-disabled: (2934px, 798px, -2934px, -798px, 53px, 18px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav05_disabled', );
$s-btn-nav05-selected-name: 's-btn_nav05_selected';
$s-btn-nav05-selected-x: 2882px;
$s-btn-nav05-selected-y: 1027px;
$s-btn-nav05-selected-offset-x: -2882px;
$s-btn-nav05-selected-offset-y: -1027px;
$s-btn-nav05-selected-width: 53px;
$s-btn-nav05-selected-height: 18px;
$s-btn-nav05-selected-total-width: 2996px;
$s-btn-nav05-selected-total-height: 2859px;
$s-btn-nav05-selected-image: '../images/sprites.png';
$s-btn-nav05-selected: (2882px, 1027px, -2882px, -1027px, 53px, 18px, 2996px, 2859px, '../images/sprites.png', 's-btn_nav05_selected', );
$s-btn-plus01-name: 's-btn_plus01';
$s-btn-plus01-x: 2789px;
$s-btn-plus01-y: 1003px;
$s-btn-plus01-offset-x: -2789px;
$s-btn-plus01-offset-y: -1003px;
$s-btn-plus01-width: 88px;
$s-btn-plus01-height: 88px;
$s-btn-plus01-total-width: 2996px;
$s-btn-plus01-total-height: 2859px;
$s-btn-plus01-image: '../images/sprites.png';
$s-btn-plus01: (2789px, 1003px, -2789px, -1003px, 88px, 88px, 2996px, 2859px, '../images/sprites.png', 's-btn_plus01', );
$s-logo01-name: 's-logo01';
$s-logo01-x: 2704px;
$s-logo01-y: 1003px;
$s-logo01-offset-x: -2704px;
$s-logo01-offset-y: -1003px;
$s-logo01-width: 80px;
$s-logo01-height: 107px;
$s-logo01-total-width: 2996px;
$s-logo01-total-height: 2859px;
$s-logo01-image: '../images/sprites.png';
$s-logo01: (2704px, 1003px, -2704px, -1003px, 80px, 107px, 2996px, 2859px, '../images/sprites.png', 's-logo01', );
$s-scene01-moon-name: 's-scene01_moon';
$s-scene01-moon-x: 0px;
$s-scene01-moon-y: 2542px;
$s-scene01-moon-offset-x: 0px;
$s-scene01-moon-offset-y: -2542px;
$s-scene01-moon-width: 317px;
$s-scene01-moon-height: 317px;
$s-scene01-moon-total-width: 2996px;
$s-scene01-moon-total-height: 2859px;
$s-scene01-moon-image: '../images/sprites.png';
$s-scene01-moon: (0px, 2542px, 0px, -2542px, 317px, 317px, 2996px, 2859px, '../images/sprites.png', 's-scene01_moon', );
$s-scene01-start-name: 's-scene01_start';
$s-scene01-start-x: 2921px;
$s-scene01-start-y: 823px;
$s-scene01-start-offset-x: -2921px;
$s-scene01-start-offset-y: -823px;
$s-scene01-start-width: 74px;
$s-scene01-start-height: 43px;
$s-scene01-start-total-width: 2996px;
$s-scene01-start-total-height: 2859px;
$s-scene01-start-image: '../images/sprites.png';
$s-scene01-start: (2921px, 823px, -2921px, -823px, 74px, 43px, 2996px, 2859px, '../images/sprites.png', 's-scene01_start', );
$s-scene01-txt01-name: 's-scene01_txt01';
$s-scene01-txt01-x: 1043px;
$s-scene01-txt01-y: 2104px;
$s-scene01-txt01-offset-x: -1043px;
$s-scene01-txt01-offset-y: -2104px;
$s-scene01-txt01-width: 421px;
$s-scene01-txt01-height: 126px;
$s-scene01-txt01-total-width: 2996px;
$s-scene01-txt01-total-height: 2859px;
$s-scene01-txt01-image: '../images/sprites.png';
$s-scene01-txt01: (1043px, 2104px, -1043px, -2104px, 421px, 126px, 2996px, 2859px, '../images/sprites.png', 's-scene01_txt01', );
$s-scene01-txt02-name: 's-scene01_txt02';
$s-scene01-txt02-x: 908px;
$s-scene01-txt02-y: 2371px;
$s-scene01-txt02-offset-x: -908px;
$s-scene01-txt02-offset-y: -2371px;
$s-scene01-txt02-width: 317px;
$s-scene01-txt02-height: 109px;
$s-scene01-txt02-total-width: 2996px;
$s-scene01-txt02-total-height: 2859px;
$s-scene01-txt02-image: '../images/sprites.png';
$s-scene01-txt02: (908px, 2371px, -908px, -2371px, 317px, 109px, 2996px, 2859px, '../images/sprites.png', 's-scene01_txt02', );
$s-scene01-wally-name: 's-scene01_wally';
$s-scene01-wally-x: 1733px;
$s-scene01-wally-y: 1016px;
$s-scene01-wally-offset-x: -1733px;
$s-scene01-wally-offset-y: -1016px;
$s-scene01-wally-width: 435px;
$s-scene01-wally-height: 350px;
$s-scene01-wally-total-width: 2996px;
$s-scene01-wally-total-height: 2859px;
$s-scene01-wally-image: '../images/sprites.png';
$s-scene01-wally: (1733px, 1016px, -1733px, -1016px, 435px, 350px, 2996px, 2859px, '../images/sprites.png', 's-scene01_wally', );
$s-scene03-bg01-name: 's-scene03_bg01';
$s-scene03-bg01-x: 830px;
$s-scene03-bg01-y: 0px;
$s-scene03-bg01-offset-x: -830px;
$s-scene03-bg01-offset-y: 0px;
$s-scene03-bg01-width: 898px;
$s-scene03-bg01-height: 383px;
$s-scene03-bg01-total-width: 2996px;
$s-scene03-bg01-total-height: 2859px;
$s-scene03-bg01-image: '../images/sprites.png';
$s-scene03-bg01: (830px, 0px, -830px, 0px, 898px, 383px, 2996px, 2859px, '../images/sprites.png', 's-scene03_bg01', );
$s-scene03-btn-location-name: 's-scene03_btn_location';
$s-scene03-btn-location-x: 322px;
$s-scene03-btn-location-y: 2542px;
$s-scene03-btn-location-offset-x: -322px;
$s-scene03-btn-location-offset-y: -2542px;
$s-scene03-btn-location-width: 335px;
$s-scene03-btn-location-height: 134px;
$s-scene03-btn-location-total-width: 2996px;
$s-scene03-btn-location-total-height: 2859px;
$s-scene03-btn-location-image: '../images/sprites.png';
$s-scene03-btn-location: (322px, 2542px, -322px, -2542px, 335px, 134px, 2996px, 2859px, '../images/sprites.png', 's-scene03_btn_location', );
$s-scene03-txt01-name: 's-scene03_txt01';
$s-scene03-txt01-x: 1733px;
$s-scene03-txt01-y: 1371px;
$s-scene03-txt01-offset-x: -1733px;
$s-scene03-txt01-offset-y: -1371px;
$s-scene03-txt01-width: 365px;
$s-scene03-txt01-height: 219px;
$s-scene03-txt01-total-width: 2996px;
$s-scene03-txt01-total-height: 2859px;
$s-scene03-txt01-image: '../images/sprites.png';
$s-scene03-txt01: (1733px, 1371px, -1733px, -1371px, 365px, 219px, 2996px, 2859px, '../images/sprites.png', 's-scene03_txt01', );
$s-scene03-wally-name: 's-scene03_wally';
$s-scene03-wally-x: 2188px;
$s-scene03-wally-y: 501px;
$s-scene03-wally-offset-x: -2188px;
$s-scene03-wally-offset-y: -501px;
$s-scene03-wally-width: 443px;
$s-scene03-wally-height: 518px;
$s-scene03-wally-total-width: 2996px;
$s-scene03-wally-total-height: 2859px;
$s-scene03-wally-image: '../images/sprites.png';
$s-scene03-wally: (2188px, 501px, -2188px, -501px, 443px, 518px, 2996px, 2859px, '../images/sprites.png', 's-scene03_wally', );
$s-scene04-object01-name: 's-scene04_object01';
$s-scene04-object01-x: 2704px;
$s-scene04-object01-y: 422px;
$s-scene04-object01-offset-x: -2704px;
$s-scene04-object01-offset-y: -422px;
$s-scene04-object01-width: 252px;
$s-scene04-object01-height: 219px;
$s-scene04-object01-total-width: 2996px;
$s-scene04-object01-total-height: 2859px;
$s-scene04-object01-image: '../images/sprites.png';
$s-scene04-object01: (2704px, 422px, -2704px, -422px, 252px, 219px, 2996px, 2859px, '../images/sprites.png', 's-scene04_object01', );
$s-scene04-wally-name: 's-scene04_wally';
$s-scene04-wally-x: 520px;
$s-scene04-wally-y: 2104px;
$s-scene04-wally-offset-x: -520px;
$s-scene04-wally-offset-y: -2104px;
$s-scene04-wally-width: 518px;
$s-scene04-wally-height: 262px;
$s-scene04-wally-total-width: 2996px;
$s-scene04-wally-total-height: 2859px;
$s-scene04-wally-image: '../images/sprites.png';
$s-scene04-wally: (520px, 2104px, -520px, -2104px, 518px, 262px, 2996px, 2859px, '../images/sprites.png', 's-scene04_wally', );
$s-scene04-wilma-name: 's-scene04_wilma';
$s-scene04-wilma-x: 1167px;
$s-scene04-wilma-y: 1681px;
$s-scene04-wilma-offset-x: -1167px;
$s-scene04-wilma-offset-y: -1681px;
$s-scene04-wilma-width: 552px;
$s-scene04-wilma-height: 282px;
$s-scene04-wilma-total-width: 2996px;
$s-scene04-wilma-total-height: 2859px;
$s-scene04-wilma-image: '../images/sprites.png';
$s-scene04-wilma: (1167px, 1681px, -1167px, -1681px, 552px, 282px, 2996px, 2859px, '../images/sprites.png', 's-scene04_wilma', );
$s-scene05-odlaw-name: 's-scene05_odlaw';
$s-scene05-odlaw-x: 457px;
$s-scene05-odlaw-y: 1068px;
$s-scene05-odlaw-offset-x: -457px;
$s-scene05-odlaw-offset-y: -1068px;
$s-scene05-odlaw-width: 523px;
$s-scene05-odlaw-height: 518px;
$s-scene05-odlaw-total-width: 2996px;
$s-scene05-odlaw-total-height: 2859px;
$s-scene05-odlaw-image: '../images/sprites.png';
$s-scene05-odlaw: (457px, 1068px, -457px, -1068px, 523px, 518px, 2996px, 2859px, '../images/sprites.png', 's-scene05_odlaw', );
$s-scene05-wally-name: 's-scene05_wally';
$s-scene05-wally-x: 1074px;
$s-scene05-wally-y: 466px;
$s-scene05-wally-offset-x: -1074px;
$s-scene05-wally-offset-y: -466px;
$s-scene05-wally-width: 504px;
$s-scene05-wally-height: 567px;
$s-scene05-wally-total-width: 2996px;
$s-scene05-wally-total-height: 2859px;
$s-scene05-wally-image: '../images/sprites.png';
$s-scene05-wally: (1074px, 466px, -1074px, -466px, 504px, 567px, 2996px, 2859px, '../images/sprites.png', 's-scene05_wally', );
$s-scene05-wilma-name: 's-scene05_wilma';
$s-scene05-wilma-x: 0px;
$s-scene05-wilma-y: 1681px;
$s-scene05-wilma-offset-x: 0px;
$s-scene05-wilma-offset-y: -1681px;
$s-scene05-wilma-width: 611px;
$s-scene05-wilma-height: 418px;
$s-scene05-wilma-total-width: 2996px;
$s-scene05-wilma-total-height: 2859px;
$s-scene05-wilma-image: '../images/sprites.png';
$s-scene05-wilma: (0px, 1681px, 0px, -1681px, 611px, 418px, 2996px, 2859px, '../images/sprites.png', 's-scene05_wilma', );
$s-scene05-woof-name: 's-scene05_woof';
$s-scene05-woof-x: 616px;
$s-scene05-woof-y: 1681px;
$s-scene05-woof-offset-x: -616px;
$s-scene05-woof-offset-y: -1681px;
$s-scene05-woof-width: 546px;
$s-scene05-woof-height: 375px;
$s-scene05-woof-total-width: 2996px;
$s-scene05-woof-total-height: 2859px;
$s-scene05-woof-image: '../images/sprites.png';
$s-scene05-woof: (616px, 1681px, -616px, -1681px, 546px, 375px, 2996px, 2859px, '../images/sprites.png', 's-scene05_woof', );
$s-scene06-btn-market-name: 's-scene06_btn_market';
$s-scene06-btn-market-x: 1043px;
$s-scene06-btn-market-y: 2235px;
$s-scene06-btn-market-offset-x: -1043px;
$s-scene06-btn-market-offset-y: -2235px;
$s-scene06-btn-market-width: 385px;
$s-scene06-btn-market-height: 129px;
$s-scene06-btn-market-total-width: 2996px;
$s-scene06-btn-market-total-height: 2859px;
$s-scene06-btn-market-image: '../images/sprites.png';
$s-scene06-btn-market: (1043px, 2235px, -1043px, -2235px, 385px, 129px, 2996px, 2859px, '../images/sprites.png', 's-scene06_btn_market', );
$s-scene06-odlaw-name: 's-scene06_odlaw';
$s-scene06-odlaw-x: 1733px;
$s-scene06-odlaw-y: 594px;
$s-scene06-odlaw-offset-x: -1733px;
$s-scene06-odlaw-offset-y: -594px;
$s-scene06-odlaw-width: 386px;
$s-scene06-odlaw-height: 417px;
$s-scene06-odlaw-total-width: 2996px;
$s-scene06-odlaw-total-height: 2859px;
$s-scene06-odlaw-image: '../images/sprites.png';
$s-scene06-odlaw: (1733px, 594px, -1733px, -594px, 386px, 417px, 2996px, 2859px, '../images/sprites.png', 's-scene06_odlaw', );
$s-scene06-wally-name: 's-scene06_wally';
$s-scene06-wally-x: 2188px;
$s-scene06-wally-y: 1024px;
$s-scene06-wally-offset-x: -2188px;
$s-scene06-wally-offset-y: -1024px;
$s-scene06-wally-width: 451px;
$s-scene06-wally-height: 449px;
$s-scene06-wally-total-width: 2996px;
$s-scene06-wally-total-height: 2859px;
$s-scene06-wally-image: '../images/sprites.png';
$s-scene06-wally: (2188px, 1024px, -2188px, -1024px, 451px, 449px, 2996px, 2859px, '../images/sprites.png', 's-scene06_wally', );
$s-scene06-wizard-name: 's-scene06_wizard';
$s-scene06-wizard-x: 2704px;
$s-scene06-wizard-y: 0px;
$s-scene06-wizard-offset-x: -2704px;
$s-scene06-wizard-offset-y: 0px;
$s-scene06-wizard-width: 292px;
$s-scene06-wizard-height: 417px;
$s-scene06-wizard-total-width: 2996px;
$s-scene06-wizard-total-height: 2859px;
$s-scene06-wizard-image: '../images/sprites.png';
$s-scene06-wizard: (2704px, 0px, -2704px, 0px, 292px, 417px, 2996px, 2859px, '../images/sprites.png', 's-scene06_wizard', );
$s-scene07-odlaw-name: 's-scene07_odlaw';
$s-scene07-odlaw-x: 0px;
$s-scene07-odlaw-y: 466px;
$s-scene07-odlaw-offset-x: 0px;
$s-scene07-odlaw-offset-y: -466px;
$s-scene07-odlaw-width: 539px;
$s-scene07-odlaw-height: 597px;
$s-scene07-odlaw-total-width: 2996px;
$s-scene07-odlaw-total-height: 2859px;
$s-scene07-odlaw-image: '../images/sprites.png';
$s-scene07-odlaw: (0px, 466px, 0px, -466px, 539px, 597px, 2996px, 2859px, '../images/sprites.png', 's-scene07_odlaw', );
$s-scene07-wally-name: 's-scene07_wally';
$s-scene07-wally-x: 1733px;
$s-scene07-wally-y: 0px;
$s-scene07-wally-offset-x: -1733px;
$s-scene07-wally-offset-y: 0px;
$s-scene07-wally-width: 450px;
$s-scene07-wally-height: 589px;
$s-scene07-wally-total-width: 2996px;
$s-scene07-wally-total-height: 2859px;
$s-scene07-wally-image: '../images/sprites.png';
$s-scene07-wally: (1733px, 0px, -1733px, 0px, 450px, 589px, 2996px, 2859px, '../images/sprites.png', 's-scene07_wally', );
$s-scene07-wilma-name: 's-scene07_wilma';
$s-scene07-wilma-x: 2188px;
$s-scene07-wilma-y: 1478px;
$s-scene07-wilma-offset-x: -2188px;
$s-scene07-wilma-offset-y: -1478px;
$s-scene07-wilma-width: 465px;
$s-scene07-wilma-height: 416px;
$s-scene07-wilma-total-width: 2996px;
$s-scene07-wilma-total-height: 2859px;
$s-scene07-wilma-image: '../images/sprites.png';
$s-scene07-wilma: (2188px, 1478px, -2188px, -1478px, 465px, 416px, 2996px, 2859px, '../images/sprites.png', 's-scene07_wilma', );
$s-scene07-woof-name: 's-scene07_woof';
$s-scene07-woof-x: 0px;
$s-scene07-woof-y: 1068px;
$s-scene07-woof-offset-x: 0px;
$s-scene07-woof-offset-y: -1068px;
$s-scene07-woof-width: 452px;
$s-scene07-woof-height: 608px;
$s-scene07-woof-total-width: 2996px;
$s-scene07-woof-total-height: 2859px;
$s-scene07-woof-image: '../images/sprites.png';
$s-scene07-woof: (0px, 1068px, 0px, -1068px, 452px, 608px, 2996px, 2859px, '../images/sprites.png', 's-scene07_woof', );
$s-scene08-btn-pub-name: 's-scene08_btn_pub';
$s-scene08-btn-pub-x: 2188px;
$s-scene08-btn-pub-y: 1899px;
$s-scene08-btn-pub-offset-x: -2188px;
$s-scene08-btn-pub-offset-y: -1899px;
$s-scene08-btn-pub-width: 461px;
$s-scene08-btn-pub-height: 167px;
$s-scene08-btn-pub-total-width: 2996px;
$s-scene08-btn-pub-total-height: 2859px;
$s-scene08-btn-pub-image: '../images/sprites.png';
$s-scene08-btn-pub: (2188px, 1899px, -2188px, -1899px, 461px, 167px, 2996px, 2859px, '../images/sprites.png', 's-scene08_btn_pub', );
$s-scene08-parassol01-name: 's-scene08_parassol01';
$s-scene08-parassol01-x: 544px;
$s-scene08-parassol01-y: 466px;
$s-scene08-parassol01-offset-x: -544px;
$s-scene08-parassol01-offset-y: -466px;
$s-scene08-parassol01-width: 525px;
$s-scene08-parassol01-height: 576px;
$s-scene08-parassol01-total-width: 2996px;
$s-scene08-parassol01-total-height: 2859px;
$s-scene08-parassol01-image: '../images/sprites.png';
$s-scene08-parassol01: (544px, 466px, -544px, -466px, 525px, 576px, 2996px, 2859px, '../images/sprites.png', 's-scene08_parassol01', );
$s-scene08-parassol02-name: 's-scene08_parassol02';
$s-scene08-parassol02-x: 0px;
$s-scene08-parassol02-y: 2104px;
$s-scene08-parassol02-offset-x: 0px;
$s-scene08-parassol02-offset-y: -2104px;
$s-scene08-parassol02-width: 515px;
$s-scene08-parassol02-height: 433px;
$s-scene08-parassol02-total-width: 2996px;
$s-scene08-parassol02-total-height: 2859px;
$s-scene08-parassol02-image: '../images/sprites.png';
$s-scene08-parassol02: (0px, 2104px, 0px, -2104px, 515px, 433px, 2996px, 2859px, '../images/sprites.png', 's-scene08_parassol02', );
$s-scene08-wally-name: 's-scene08_wally';
$s-scene08-wally-x: 985px;
$s-scene08-wally-y: 1068px;
$s-scene08-wally-offset-x: -985px;
$s-scene08-wally-offset-y: -1068px;
$s-scene08-wally-width: 519px;
$s-scene08-wally-height: 501px;
$s-scene08-wally-total-width: 2996px;
$s-scene08-wally-total-height: 2859px;
$s-scene08-wally-image: '../images/sprites.png';
$s-scene08-wally: (985px, 1068px, -985px, -1068px, 519px, 501px, 2996px, 2859px, '../images/sprites.png', 's-scene08_wally', );
$s-scene08-wilma-name: 's-scene08_wilma';
$s-scene08-wilma-x: 2188px;
$s-scene08-wilma-y: 0px;
$s-scene08-wilma-offset-x: -2188px;
$s-scene08-wilma-offset-y: 0px;
$s-scene08-wilma-width: 511px;
$s-scene08-wilma-height: 496px;
$s-scene08-wilma-total-width: 2996px;
$s-scene08-wilma-total-height: 2859px;
$s-scene08-wilma-image: '../images/sprites.png';
$s-scene08-wilma: (2188px, 0px, -2188px, 0px, 511px, 496px, 2996px, 2859px, '../images/sprites.png', 's-scene08_wilma', );
$s-scene09-people-name: 's-scene09_people';
$s-scene09-people-x: 0px;
$s-scene09-people-y: 0px;
$s-scene09-people-offset-x: 0px;
$s-scene09-people-offset-y: 0px;
$s-scene09-people-width: 825px;
$s-scene09-people-height: 461px;
$s-scene09-people-total-width: 2996px;
$s-scene09-people-total-height: 2859px;
$s-scene09-people-image: '../images/sprites.png';
$s-scene09-people: (0px, 0px, 0px, 0px, 825px, 461px, 2996px, 2859px, '../images/sprites.png', 's-scene09_people', );
$s-scene09-txt01-name: 's-scene09_txt01';
$s-scene09-txt01-x: 2704px;
$s-scene09-txt01-y: 823px;
$s-scene09-txt01-offset-x: -2704px;
$s-scene09-txt01-offset-y: -823px;
$s-scene09-txt01-width: 212px;
$s-scene09-txt01-height: 175px;
$s-scene09-txt01-total-width: 2996px;
$s-scene09-txt01-total-height: 2859px;
$s-scene09-txt01-image: '../images/sprites.png';
$s-scene09-txt01: (2704px, 823px, -2704px, -823px, 212px, 175px, 2996px, 2859px, '../images/sprites.png', 's-scene09_txt01', );
$s-scene09-txt02-name: 's-scene09_txt02';
$s-scene09-txt02-x: 2704px;
$s-scene09-txt02-y: 646px;
$s-scene09-txt02-offset-x: -2704px;
$s-scene09-txt02-offset-y: -646px;
$s-scene09-txt02-width: 225px;
$s-scene09-txt02-height: 172px;
$s-scene09-txt02-total-width: 2996px;
$s-scene09-txt02-total-height: 2859px;
$s-scene09-txt02-image: '../images/sprites.png';
$s-scene09-txt02: (2704px, 646px, -2704px, -646px, 225px, 172px, 2996px, 2859px, '../images/sprites.png', 's-scene09_txt02', );
$s-scene09-txt03-name: 's-scene09_txt03';
$s-scene09-txt03-x: 1724px;
$s-scene09-txt03-y: 1681px;
$s-scene09-txt03-offset-x: -1724px;
$s-scene09-txt03-offset-y: -1681px;
$s-scene09-txt03-width: 320px;
$s-scene09-txt03-height: 223px;
$s-scene09-txt03-total-width: 2996px;
$s-scene09-txt03-total-height: 2859px;
$s-scene09-txt03-image: '../images/sprites.png';
$s-scene09-txt03: (1724px, 1681px, -1724px, -1681px, 320px, 223px, 2996px, 2859px, '../images/sprites.png', 's-scene09_txt03', );
$s-time-1030-name: 's-time_1030';
$s-time-1030-x: 2291px;
$s-time-1030-y: 2104px;
$s-time-1030-offset-x: -2291px;
$s-time-1030-offset-y: -2104px;
$s-time-1030-width: 402px;
$s-time-1030-height: 123px;
$s-time-1030-total-width: 2996px;
$s-time-1030-total-height: 2859px;
$s-time-1030-image: '../images/sprites.png';
$s-time-1030: (2291px, 2104px, -2291px, -2104px, 402px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1030', );
$s-time-1030-txt-name: 's-time_1030_txt';
$s-time-1030-txt-x: 1733px;
$s-time-1030-txt-y: 1595px;
$s-time-1030-txt-offset-x: -1733px;
$s-time-1030-txt-offset-y: -1595px;
$s-time-1030-txt-width: 397px;
$s-time-1030-txt-height: 67px;
$s-time-1030-txt-total-width: 2996px;
$s-time-1030-txt-total-height: 2859px;
$s-time-1030-txt-image: '../images/sprites.png';
$s-time-1030-txt: (1733px, 1595px, -1733px, -1595px, 397px, 67px, 2996px, 2859px, '../images/sprites.png', 's-time_1030_txt', );
$s-time-1100-name: 's-time_1100';
$s-time-1100-x: 520px;
$s-time-1100-y: 2371px;
$s-time-1100-offset-x: -520px;
$s-time-1100-offset-y: -2371px;
$s-time-1100-width: 383px;
$s-time-1100-height: 123px;
$s-time-1100-total-width: 2996px;
$s-time-1100-total-height: 2859px;
$s-time-1100-image: '../images/sprites.png';
$s-time-1100: (520px, 2371px, -520px, -2371px, 383px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1100', );
$s-time-1100-txt-name: 's-time_1100_txt';
$s-time-1100-txt-x: 457px;
$s-time-1100-txt-y: 1591px;
$s-time-1100-txt-offset-x: -457px;
$s-time-1100-txt-offset-y: -1591px;
$s-time-1100-txt-width: 454px;
$s-time-1100-txt-height: 67px;
$s-time-1100-txt-total-width: 2996px;
$s-time-1100-txt-total-height: 2859px;
$s-time-1100-txt-image: '../images/sprites.png';
$s-time-1100-txt: (457px, 1591px, -457px, -1591px, 454px, 67px, 2996px, 2859px, '../images/sprites.png', 's-time_1100_txt', );
$s-time-1300-name: 's-time_1300';
$s-time-1300-x: 1433px;
$s-time-1300-y: 2235px;
$s-time-1300-offset-x: -1433px;
$s-time-1300-offset-y: -2235px;
$s-time-1300-width: 402px;
$s-time-1300-height: 123px;
$s-time-1300-total-width: 2996px;
$s-time-1300-total-height: 2859px;
$s-time-1300-image: '../images/sprites.png';
$s-time-1300: (1433px, 2235px, -1433px, -2235px, 402px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1300', );
$s-time-1300-txt-name: 's-time_1300_txt';
$s-time-1300-txt-x: 830px;
$s-time-1300-txt-y: 388px;
$s-time-1300-txt-offset-x: -830px;
$s-time-1300-txt-offset-y: -388px;
$s-time-1300-txt-width: 514px;
$s-time-1300-txt-height: 66px;
$s-time-1300-txt-total-width: 2996px;
$s-time-1300-txt-total-height: 2859px;
$s-time-1300-txt-image: '../images/sprites.png';
$s-time-1300-txt: (830px, 388px, -830px, -388px, 514px, 66px, 2996px, 2859px, '../images/sprites.png', 's-time_1300_txt', );
$s-time-1500-name: 's-time_1500';
$s-time-1500-x: 1883px;
$s-time-1500-y: 2104px;
$s-time-1500-offset-x: -1883px;
$s-time-1500-offset-y: -2104px;
$s-time-1500-width: 403px;
$s-time-1500-height: 123px;
$s-time-1500-total-width: 2996px;
$s-time-1500-total-height: 2859px;
$s-time-1500-image: '../images/sprites.png';
$s-time-1500: (1883px, 2104px, -1883px, -2104px, 403px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1500', );
$s-time-1500-txt-name: 's-time_1500_txt';
$s-time-1500-txt-x: 1349px;
$s-time-1500-txt-y: 388px;
$s-time-1500-txt-offset-x: -1349px;
$s-time-1500-txt-offset-y: -388px;
$s-time-1500-txt-width: 373px;
$s-time-1500-txt-height: 65px;
$s-time-1500-txt-total-width: 2996px;
$s-time-1500-txt-total-height: 2859px;
$s-time-1500-txt-image: '../images/sprites.png';
$s-time-1500-txt: (1349px, 388px, -1349px, -388px, 373px, 65px, 2996px, 2859px, '../images/sprites.png', 's-time_1500_txt', );
$s-time-1700-name: 's-time_1700';
$s-time-1700-x: 2246px;
$s-time-1700-y: 2235px;
$s-time-1700-offset-x: -2246px;
$s-time-1700-offset-y: -2235px;
$s-time-1700-width: 398px;
$s-time-1700-height: 123px;
$s-time-1700-total-width: 2996px;
$s-time-1700-total-height: 2859px;
$s-time-1700-image: '../images/sprites.png';
$s-time-1700: (2246px, 2235px, -2246px, -2235px, 398px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1700', );
$s-time-1700-txt-name: 's-time_1700_txt';
$s-time-1700-txt-x: 1230px;
$s-time-1700-txt-y: 2371px;
$s-time-1700-txt-offset-x: -1230px;
$s-time-1700-txt-offset-y: -2371px;
$s-time-1700-txt-width: 330px;
$s-time-1700-txt-height: 67px;
$s-time-1700-txt-total-width: 2996px;
$s-time-1700-txt-total-height: 2859px;
$s-time-1700-txt-image: '../images/sprites.png';
$s-time-1700-txt: (1230px, 2371px, -1230px, -2371px, 330px, 67px, 2996px, 2859px, '../images/sprites.png', 's-time_1700_txt', );
$s-time-1900-name: 's-time_1900';
$s-time-1900-x: 1469px;
$s-time-1900-y: 2104px;
$s-time-1900-offset-x: -1469px;
$s-time-1900-offset-y: -2104px;
$s-time-1900-width: 409px;
$s-time-1900-height: 123px;
$s-time-1900-total-width: 2996px;
$s-time-1900-total-height: 2859px;
$s-time-1900-image: '../images/sprites.png';
$s-time-1900: (1469px, 2104px, -1469px, -2104px, 409px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_1900', );
$s-time-1900-txt-name: 's-time_1900_txt';
$s-time-1900-txt-x: 1898px;
$s-time-1900-txt-y: 2371px;
$s-time-1900-txt-offset-x: -1898px;
$s-time-1900-txt-offset-y: -2371px;
$s-time-1900-txt-width: 311px;
$s-time-1900-txt-height: 64px;
$s-time-1900-txt-total-width: 2996px;
$s-time-1900-txt-total-height: 2859px;
$s-time-1900-txt-image: '../images/sprites.png';
$s-time-1900-txt: (1898px, 2371px, -1898px, -2371px, 311px, 64px, 2996px, 2859px, '../images/sprites.png', 's-time_1900_txt', );
$s-time-2100-name: 's-time_2100';
$s-time-2100-x: 1840px;
$s-time-2100-y: 2235px;
$s-time-2100-offset-x: -1840px;
$s-time-2100-offset-y: -2235px;
$s-time-2100-width: 401px;
$s-time-2100-height: 123px;
$s-time-2100-total-width: 2996px;
$s-time-2100-total-height: 2859px;
$s-time-2100-image: '../images/sprites.png';
$s-time-2100: (1840px, 2235px, -1840px, -2235px, 401px, 123px, 2996px, 2859px, '../images/sprites.png', 's-time_2100', );
$s-time-2100-txt-name: 's-time_2100_txt';
$s-time-2100-txt-x: 1565px;
$s-time-2100-txt-y: 2371px;
$s-time-2100-txt-offset-x: -1565px;
$s-time-2100-txt-offset-y: -2371px;
$s-time-2100-txt-width: 328px;
$s-time-2100-txt-height: 67px;
$s-time-2100-txt-total-width: 2996px;
$s-time-2100-txt-total-height: 2859px;
$s-time-2100-txt-image: '../images/sprites.png';
$s-time-2100-txt: (1565px, 2371px, -1565px, -2371px, 328px, 67px, 2996px, 2859px, '../images/sprites.png', 's-time_2100_txt', );
$s-title-1030-name: 's-title_1030';
$s-title-1030-x: 916px;
$s-title-1030-y: 1591px;
$s-title-1030-offset-x: -916px;
$s-title-1030-offset-y: -1591px;
$s-title-1030-width: 785px;
$s-title-1030-height: 30px;
$s-title-1030-total-width: 2996px;
$s-title-1030-total-height: 2859px;
$s-title-1030-image: '../images/sprites.png';
$s-title-1030: (916px, 1591px, -916px, -1591px, 785px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_1030', );
$s-title-1100-name: 's-title_1100';
$s-title-1100-x: 916px;
$s-title-1100-y: 1626px;
$s-title-1100-offset-x: -916px;
$s-title-1100-offset-y: -1626px;
$s-title-1100-width: 547px;
$s-title-1100-height: 30px;
$s-title-1100-total-width: 2996px;
$s-title-1100-total-height: 2859px;
$s-title-1100-image: '../images/sprites.png';
$s-title-1100: (916px, 1626px, -916px, -1626px, 547px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_1100', );
$s-title-1500-name: 's-title_1500';
$s-title-1500-x: 1167px;
$s-title-1500-y: 2003px;
$s-title-1500-offset-x: -1167px;
$s-title-1500-offset-y: -2003px;
$s-title-1500-width: 908px;
$s-title-1500-height: 30px;
$s-title-1500-total-width: 2996px;
$s-title-1500-total-height: 2859px;
$s-title-1500-image: '../images/sprites.png';
$s-title-1500: (1167px, 2003px, -1167px, -2003px, 908px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_1500', );
$s-title-1900-name: 's-title_1900';
$s-title-1900-x: 616px;
$s-title-1900-y: 2061px;
$s-title-1900-offset-x: -616px;
$s-title-1900-offset-y: -2061px;
$s-title-1900-width: 901px;
$s-title-1900-height: 30px;
$s-title-1900-total-width: 2996px;
$s-title-1900-total-height: 2859px;
$s-title-1900-image: '../images/sprites.png';
$s-title-1900: (616px, 2061px, -616px, -2061px, 901px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_1900', );
$s-title-2100-name: 's-title_2100';
$s-title-2100-x: 1167px;
$s-title-2100-y: 1968px;
$s-title-2100-offset-x: -1167px;
$s-title-2100-offset-y: -1968px;
$s-title-2100-width: 929px;
$s-title-2100-height: 30px;
$s-title-2100-total-width: 2996px;
$s-title-2100-total-height: 2859px;
$s-title-2100-image: '../images/sprites.png';
$s-title-2100: (1167px, 1968px, -1167px, -1968px, 929px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_2100', );
$s-title-songdo-name: 's-title_songdo';
$s-title-songdo-x: 1724px;
$s-title-songdo-y: 1909px;
$s-title-songdo-offset-x: -1724px;
$s-title-songdo-offset-y: -1909px;
$s-title-songdo-width: 325px;
$s-title-songdo-height: 30px;
$s-title-songdo-total-width: 2996px;
$s-title-songdo-total-height: 2859px;
$s-title-songdo-image: '../images/sprites.png';
$s-title-songdo: (1724px, 1909px, -1724px, -1909px, 325px, 30px, 2996px, 2859px, '../images/sprites.png', 's-title_songdo', );
$spritesheet-width: 2996px;
$spritesheet-height: 2859px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($s-bg-arrow01, $s-btn-close01, $s-btn-nav01, $s-btn-nav01-disabled, $s-btn-nav01-selected, $s-btn-nav02, $s-btn-nav02-disabled, $s-btn-nav02-selected, $s-btn-nav03, $s-btn-nav03-disabled, $s-btn-nav03-selected, $s-btn-nav04, $s-btn-nav04-disabled, $s-btn-nav04-selected, $s-btn-nav05, $s-btn-nav05-disabled, $s-btn-nav05-selected, $s-btn-plus01, $s-logo01, $s-scene01-moon, $s-scene01-start, $s-scene01-txt01, $s-scene01-txt02, $s-scene01-wally, $s-scene03-bg01, $s-scene03-btn-location, $s-scene03-txt01, $s-scene03-wally, $s-scene04-object01, $s-scene04-wally, $s-scene04-wilma, $s-scene05-odlaw, $s-scene05-wally, $s-scene05-wilma, $s-scene05-woof, $s-scene06-btn-market, $s-scene06-odlaw, $s-scene06-wally, $s-scene06-wizard, $s-scene07-odlaw, $s-scene07-wally, $s-scene07-wilma, $s-scene07-woof, $s-scene08-btn-pub, $s-scene08-parassol01, $s-scene08-parassol02, $s-scene08-wally, $s-scene08-wilma, $s-scene09-people, $s-scene09-txt01, $s-scene09-txt02, $s-scene09-txt03, $s-time-1030, $s-time-1030-txt, $s-time-1100, $s-time-1100-txt, $s-time-1300, $s-time-1300-txt, $s-time-1500, $s-time-1500-txt, $s-time-1700, $s-time-1700-txt, $s-time-1900, $s-time-1900-txt, $s-time-2100, $s-time-2100-txt, $s-title-1030, $s-title-1100, $s-title-1500, $s-title-1900, $s-title-2100, $s-title-songdo, );
$spritesheet: (2996px, 2859px, '../images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
