/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-btn-nav01-name: 's-btn_nav01';
$s-btn-nav01-x: 1424px;
$s-btn-nav01-y: 444px;
$s-btn-nav01-offset-x: -1424px;
$s-btn-nav01-offset-y: -444px;
$s-btn-nav01-width: 18px;
$s-btn-nav01-height: 19px;
$s-btn-nav01-total-width: 1453px;
$s-btn-nav01-total-height: 1339px;
$s-btn-nav01-image: '../images/sprites.png';
$s-btn-nav01: (1424px, 444px, -1424px, -444px, 18px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav01', );
$s-btn-nav01-disabled-name: 's-btn_nav01_disabled';
$s-btn-nav01-disabled-x: 1424px;
$s-btn-nav01-disabled-y: 396px;
$s-btn-nav01-disabled-offset-x: -1424px;
$s-btn-nav01-disabled-offset-y: -396px;
$s-btn-nav01-disabled-width: 18px;
$s-btn-nav01-disabled-height: 19px;
$s-btn-nav01-disabled-total-width: 1453px;
$s-btn-nav01-disabled-total-height: 1339px;
$s-btn-nav01-disabled-image: '../images/sprites.png';
$s-btn-nav01-disabled: (1424px, 396px, -1424px, -396px, 18px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav01_disabled', );
$s-btn-nav01-selected-name: 's-btn_nav01_selected';
$s-btn-nav01-selected-x: 1424px;
$s-btn-nav01-selected-y: 420px;
$s-btn-nav01-selected-offset-x: -1424px;
$s-btn-nav01-selected-offset-y: -420px;
$s-btn-nav01-selected-width: 18px;
$s-btn-nav01-selected-height: 19px;
$s-btn-nav01-selected-total-width: 1453px;
$s-btn-nav01-selected-total-height: 1339px;
$s-btn-nav01-selected-image: '../images/sprites.png';
$s-btn-nav01-selected: (1424px, 420px, -1424px, -420px, 18px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav01_selected', );
$s-btn-nav02-name: 's-btn_nav02';
$s-btn-nav02-x: 1316px;
$s-btn-nav02-y: 583px;
$s-btn-nav02-offset-x: -1316px;
$s-btn-nav02-offset-y: -583px;
$s-btn-nav02-width: 70px;
$s-btn-nav02-height: 19px;
$s-btn-nav02-total-width: 1453px;
$s-btn-nav02-total-height: 1339px;
$s-btn-nav02-image: '../images/sprites.png';
$s-btn-nav02: (1316px, 583px, -1316px, -583px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav02', );
$s-btn-nav02-disabled-name: 's-btn_nav02_disabled';
$s-btn-nav02-disabled-x: 1241px;
$s-btn-nav02-disabled-y: 583px;
$s-btn-nav02-disabled-offset-x: -1241px;
$s-btn-nav02-disabled-offset-y: -583px;
$s-btn-nav02-disabled-width: 70px;
$s-btn-nav02-disabled-height: 19px;
$s-btn-nav02-disabled-total-width: 1453px;
$s-btn-nav02-disabled-total-height: 1339px;
$s-btn-nav02-disabled-image: '../images/sprites.png';
$s-btn-nav02-disabled: (1241px, 583px, -1241px, -583px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav02_disabled', );
$s-btn-nav02-selected-name: 's-btn_nav02_selected';
$s-btn-nav02-selected-x: 1166px;
$s-btn-nav02-selected-y: 583px;
$s-btn-nav02-selected-offset-x: -1166px;
$s-btn-nav02-selected-offset-y: -583px;
$s-btn-nav02-selected-width: 70px;
$s-btn-nav02-selected-height: 19px;
$s-btn-nav02-selected-total-width: 1453px;
$s-btn-nav02-selected-total-height: 1339px;
$s-btn-nav02-selected-image: '../images/sprites.png';
$s-btn-nav02-selected: (1166px, 583px, -1166px, -583px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav02_selected', );
$s-btn-nav03-name: 's-btn_nav03';
$s-btn-nav03-x: 1091px;
$s-btn-nav03-y: 583px;
$s-btn-nav03-offset-x: -1091px;
$s-btn-nav03-offset-y: -583px;
$s-btn-nav03-width: 70px;
$s-btn-nav03-height: 19px;
$s-btn-nav03-total-width: 1453px;
$s-btn-nav03-total-height: 1339px;
$s-btn-nav03-image: '../images/sprites.png';
$s-btn-nav03: (1091px, 583px, -1091px, -583px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav03', );
$s-btn-nav03-disabled-name: 's-btn_nav03_disabled';
$s-btn-nav03-disabled-x: 1342px;
$s-btn-nav03-disabled-y: 548px;
$s-btn-nav03-disabled-offset-x: -1342px;
$s-btn-nav03-disabled-offset-y: -548px;
$s-btn-nav03-disabled-width: 70px;
$s-btn-nav03-disabled-height: 19px;
$s-btn-nav03-disabled-total-width: 1453px;
$s-btn-nav03-disabled-total-height: 1339px;
$s-btn-nav03-disabled-image: '../images/sprites.png';
$s-btn-nav03-disabled: (1342px, 548px, -1342px, -548px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav03_disabled', );
$s-btn-nav03-selected-name: 's-btn_nav03_selected';
$s-btn-nav03-selected-x: 1091px;
$s-btn-nav03-selected-y: 607px;
$s-btn-nav03-selected-offset-x: -1091px;
$s-btn-nav03-selected-offset-y: -607px;
$s-btn-nav03-selected-width: 70px;
$s-btn-nav03-selected-height: 19px;
$s-btn-nav03-selected-total-width: 1453px;
$s-btn-nav03-selected-total-height: 1339px;
$s-btn-nav03-selected-image: '../images/sprites.png';
$s-btn-nav03-selected: (1091px, 607px, -1091px, -607px, 70px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav03_selected', );
$s-btn-nav04-name: 's-btn_nav04';
$s-btn-nav04-x: 1391px;
$s-btn-nav04-y: 583px;
$s-btn-nav04-offset-x: -1391px;
$s-btn-nav04-offset-y: -583px;
$s-btn-nav04-width: 51px;
$s-btn-nav04-height: 19px;
$s-btn-nav04-total-width: 1453px;
$s-btn-nav04-total-height: 1339px;
$s-btn-nav04-image: '../images/sprites.png';
$s-btn-nav04: (1391px, 583px, -1391px, -583px, 51px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav04', );
$s-btn-nav04-disabled-name: 's-btn_nav04_disabled';
$s-btn-nav04-disabled-x: 1222px;
$s-btn-nav04-disabled-y: 607px;
$s-btn-nav04-disabled-offset-x: -1222px;
$s-btn-nav04-disabled-offset-y: -607px;
$s-btn-nav04-disabled-width: 51px;
$s-btn-nav04-disabled-height: 19px;
$s-btn-nav04-disabled-total-width: 1453px;
$s-btn-nav04-disabled-total-height: 1339px;
$s-btn-nav04-disabled-image: '../images/sprites.png';
$s-btn-nav04-disabled: (1222px, 607px, -1222px, -607px, 51px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav04_disabled', );
$s-btn-nav04-selected-name: 's-btn_nav04_selected';
$s-btn-nav04-selected-x: 1166px;
$s-btn-nav04-selected-y: 607px;
$s-btn-nav04-selected-offset-x: -1166px;
$s-btn-nav04-selected-offset-y: -607px;
$s-btn-nav04-selected-width: 51px;
$s-btn-nav04-selected-height: 19px;
$s-btn-nav04-selected-total-width: 1453px;
$s-btn-nav04-selected-total-height: 1339px;
$s-btn-nav04-selected-image: '../images/sprites.png';
$s-btn-nav04-selected: (1166px, 607px, -1166px, -607px, 51px, 19px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav04_selected', );
$s-btn-nav05-name: 's-btn_nav05';
$s-btn-nav05-x: 1394px;
$s-btn-nav05-y: 607px;
$s-btn-nav05-offset-x: -1394px;
$s-btn-nav05-offset-y: -607px;
$s-btn-nav05-width: 53px;
$s-btn-nav05-height: 18px;
$s-btn-nav05-total-width: 1453px;
$s-btn-nav05-total-height: 1339px;
$s-btn-nav05-image: '../images/sprites.png';
$s-btn-nav05: (1394px, 607px, -1394px, -607px, 53px, 18px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav05', );
$s-btn-nav05-disabled-name: 's-btn_nav05_disabled';
$s-btn-nav05-disabled-x: 1278px;
$s-btn-nav05-disabled-y: 607px;
$s-btn-nav05-disabled-offset-x: -1278px;
$s-btn-nav05-disabled-offset-y: -607px;
$s-btn-nav05-disabled-width: 53px;
$s-btn-nav05-disabled-height: 18px;
$s-btn-nav05-disabled-total-width: 1453px;
$s-btn-nav05-disabled-total-height: 1339px;
$s-btn-nav05-disabled-image: '../images/sprites.png';
$s-btn-nav05-disabled: (1278px, 607px, -1278px, -607px, 53px, 18px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav05_disabled', );
$s-btn-nav05-selected-name: 's-btn_nav05_selected';
$s-btn-nav05-selected-x: 1336px;
$s-btn-nav05-selected-y: 607px;
$s-btn-nav05-selected-offset-x: -1336px;
$s-btn-nav05-selected-offset-y: -607px;
$s-btn-nav05-selected-width: 53px;
$s-btn-nav05-selected-height: 18px;
$s-btn-nav05-selected-total-width: 1453px;
$s-btn-nav05-selected-total-height: 1339px;
$s-btn-nav05-selected-image: '../images/sprites.png';
$s-btn-nav05-selected: (1336px, 607px, -1336px, -607px, 53px, 18px, 1453px, 1339px, '../images/sprites.png', 's-btn_nav05_selected', );
$s-logo01-name: 's-logo01';
$s-logo01-x: 1358px;
$s-logo01-y: 647px;
$s-logo01-offset-x: -1358px;
$s-logo01-offset-y: -647px;
$s-logo01-width: 80px;
$s-logo01-height: 107px;
$s-logo01-total-width: 1453px;
$s-logo01-total-height: 1339px;
$s-logo01-image: '../images/sprites.png';
$s-logo01: (1358px, 647px, -1358px, -647px, 80px, 107px, 1453px, 1339px, '../images/sprites.png', 's-logo01', );
$s-scene01-moon-name: 's-scene01_moon';
$s-scene01-moon-x: 538px;
$s-scene01-moon-y: 647px;
$s-scene01-moon-offset-x: -538px;
$s-scene01-moon-offset-y: -647px;
$s-scene01-moon-width: 390px;
$s-scene01-moon-height: 390px;
$s-scene01-moon-total-width: 1453px;
$s-scene01-moon-total-height: 1339px;
$s-scene01-moon-image: '../images/sprites.png';
$s-scene01-moon: (538px, 647px, -538px, -647px, 390px, 390px, 1453px, 1339px, '../images/sprites.png', 's-scene01_moon', );
$s-scene01-start-name: 's-scene01_start';
$s-scene01-start-x: 1012px;
$s-scene01-start-y: 583px;
$s-scene01-start-offset-x: -1012px;
$s-scene01-start-offset-y: -583px;
$s-scene01-start-width: 74px;
$s-scene01-start-height: 43px;
$s-scene01-start-total-width: 1453px;
$s-scene01-start-total-height: 1339px;
$s-scene01-start-image: '../images/sprites.png';
$s-scene01-start: (1012px, 583px, -1012px, -583px, 74px, 43px, 1453px, 1339px, '../images/sprites.png', 's-scene01_start', );
$s-scene01-txt01-name: 's-scene01_txt01';
$s-scene01-txt01-x: 455px;
$s-scene01-txt01-y: 1081px;
$s-scene01-txt01-offset-x: -455px;
$s-scene01-txt01-offset-y: -1081px;
$s-scene01-txt01-width: 486px;
$s-scene01-txt01-height: 146px;
$s-scene01-txt01-total-width: 1453px;
$s-scene01-txt01-total-height: 1339px;
$s-scene01-txt01-image: '../images/sprites.png';
$s-scene01-txt01: (455px, 1081px, -455px, -1081px, 486px, 146px, 1453px, 1339px, '../images/sprites.png', 's-scene01_txt01', );
$s-scene01-txt02-name: 's-scene01_txt02';
$s-scene01-txt02-x: 1012px;
$s-scene01-txt02-y: 396px;
$s-scene01-txt02-offset-x: -1012px;
$s-scene01-txt02-offset-y: -396px;
$s-scene01-txt02-width: 407px;
$s-scene01-txt02-height: 147px;
$s-scene01-txt02-total-width: 1453px;
$s-scene01-txt02-total-height: 1339px;
$s-scene01-txt02-image: '../images/sprites.png';
$s-scene01-txt02: (1012px, 396px, -1012px, -396px, 407px, 147px, 1453px, 1339px, '../images/sprites.png', 's-scene01_txt02', );
$s-scene01-wally-name: 's-scene01_wally';
$s-scene01-wally-x: 0px;
$s-scene01-wally-y: 647px;
$s-scene01-wally-offset-x: 0px;
$s-scene01-wally-offset-y: -647px;
$s-scene01-wally-width: 533px;
$s-scene01-wally-height: 429px;
$s-scene01-wally-total-width: 1453px;
$s-scene01-wally-total-height: 1339px;
$s-scene01-wally-image: '../images/sprites.png';
$s-scene01-wally: (0px, 647px, 0px, -647px, 533px, 429px, 1453px, 1339px, '../images/sprites.png', 's-scene01_wally', );
$s-scene03-bg01-name: 's-scene03_bg01';
$s-scene03-bg01-x: 555px;
$s-scene03-bg01-y: 0px;
$s-scene03-bg01-offset-x: -555px;
$s-scene03-bg01-offset-y: 0px;
$s-scene03-bg01-width: 898px;
$s-scene03-bg01-height: 391px;
$s-scene03-bg01-total-width: 1453px;
$s-scene03-bg01-total-height: 1339px;
$s-scene03-bg01-image: '../images/sprites.png';
$s-scene03-bg01: (555px, 0px, -555px, 0px, 898px, 391px, 1453px, 1339px, '../images/sprites.png', 's-scene03_bg01', );
$s-scene03-txt01-name: 's-scene03_txt01';
$s-scene03-txt01-x: 933px;
$s-scene03-txt01-y: 647px;
$s-scene03-txt01-offset-x: -933px;
$s-scene03-txt01-offset-y: -647px;
$s-scene03-txt01-width: 420px;
$s-scene03-txt01-height: 305px;
$s-scene03-txt01-total-width: 1453px;
$s-scene03-txt01-total-height: 1339px;
$s-scene03-txt01-image: '../images/sprites.png';
$s-scene03-txt01: (933px, 647px, -933px, -647px, 420px, 305px, 1453px, 1339px, '../images/sprites.png', 's-scene03_txt01', );
$s-scene03-wally-name: 's-scene03_wally';
$s-scene03-wally-x: 0px;
$s-scene03-wally-y: 0px;
$s-scene03-wally-offset-x: 0px;
$s-scene03-wally-offset-y: 0px;
$s-scene03-wally-width: 550px;
$s-scene03-wally-height: 642px;
$s-scene03-wally-total-width: 1453px;
$s-scene03-wally-total-height: 1339px;
$s-scene03-wally-image: '../images/sprites.png';
$s-scene03-wally: (0px, 0px, 0px, 0px, 550px, 642px, 1453px, 1339px, '../images/sprites.png', 's-scene03_wally', );
$s-time01-name: 's-time01';
$s-time01-x: 0px;
$s-time01-y: 1081px;
$s-time01-offset-x: 0px;
$s-time01-offset-y: -1081px;
$s-time01-width: 450px;
$s-time01-height: 258px;
$s-time01-total-width: 1453px;
$s-time01-total-height: 1339px;
$s-time01-image: '../images/sprites.png';
$s-time01: (0px, 1081px, 0px, -1081px, 450px, 258px, 1453px, 1339px, '../images/sprites.png', 's-time01', );
$s-time02-name: 's-time02';
$s-time02-x: 555px;
$s-time02-y: 396px;
$s-time02-offset-x: -555px;
$s-time02-offset-y: -396px;
$s-time02-width: 452px;
$s-time02-height: 237px;
$s-time02-total-width: 1453px;
$s-time02-total-height: 1339px;
$s-time02-image: '../images/sprites.png';
$s-time02: (555px, 396px, -555px, -396px, 452px, 237px, 1453px, 1339px, '../images/sprites.png', 's-time02', );
$s-title-1030-name: 's-title_1030';
$s-title-1030-x: 455px;
$s-title-1030-y: 1232px;
$s-title-1030-offset-x: -455px;
$s-title-1030-offset-y: -1232px;
$s-title-1030-width: 551px;
$s-title-1030-height: 39px;
$s-title-1030-total-width: 1453px;
$s-title-1030-total-height: 1339px;
$s-title-1030-image: '../images/sprites.png';
$s-title-1030: (455px, 1232px, -455px, -1232px, 551px, 39px, 1453px, 1339px, '../images/sprites.png', 's-title_1030', );
$s-title-songdo-name: 's-title_songdo';
$s-title-songdo-x: 1012px;
$s-title-songdo-y: 548px;
$s-title-songdo-offset-x: -1012px;
$s-title-songdo-offset-y: -548px;
$s-title-songdo-width: 325px;
$s-title-songdo-height: 30px;
$s-title-songdo-total-width: 1453px;
$s-title-songdo-total-height: 1339px;
$s-title-songdo-image: '../images/sprites.png';
$s-title-songdo: (1012px, 548px, -1012px, -548px, 325px, 30px, 1453px, 1339px, '../images/sprites.png', 's-title_songdo', );
$spritesheet-width: 1453px;
$spritesheet-height: 1339px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($s-btn-nav01, $s-btn-nav01-disabled, $s-btn-nav01-selected, $s-btn-nav02, $s-btn-nav02-disabled, $s-btn-nav02-selected, $s-btn-nav03, $s-btn-nav03-disabled, $s-btn-nav03-selected, $s-btn-nav04, $s-btn-nav04-disabled, $s-btn-nav04-selected, $s-btn-nav05, $s-btn-nav05-disabled, $s-btn-nav05-selected, $s-logo01, $s-scene01-moon, $s-scene01-start, $s-scene01-txt01, $s-scene01-txt02, $s-scene01-wally, $s-scene03-bg01, $s-scene03-txt01, $s-scene03-wally, $s-time01, $s-time02, $s-title-1030, $s-title-songdo, );
$spritesheet: (1453px, 1339px, '../images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
