/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-bg-arrow01-name: 's-bg_arrow01';
$s-bg-arrow01-x: 3189px;
$s-bg-arrow01-y: 761px;
$s-bg-arrow01-offset-x: -3189px;
$s-bg-arrow01-offset-y: -761px;
$s-bg-arrow01-width: 12px;
$s-bg-arrow01-height: 24px;
$s-bg-arrow01-total-width: 3222px;
$s-bg-arrow01-total-height: 2537px;
$s-bg-arrow01-image: '../images/sprites.png';
$s-bg-arrow01: (3189px, 761px, -3189px, -761px, 12px, 24px, 3222px, 2537px, '../images/sprites.png', 's-bg_arrow01', );
$s-btn-close01-name: 's-btn_close01';
$s-btn-close01-x: 3164px;
$s-btn-close01-y: 447px;
$s-btn-close01-offset-x: -3164px;
$s-btn-close01-offset-y: -447px;
$s-btn-close01-width: 52px;
$s-btn-close01-height: 52px;
$s-btn-close01-total-width: 3222px;
$s-btn-close01-total-height: 2537px;
$s-btn-close01-image: '../images/sprites.png';
$s-btn-close01: (3164px, 447px, -3164px, -447px, 52px, 52px, 3222px, 2537px, '../images/sprites.png', 's-btn_close01', );
$s-btn-nav01-name: 's-btn_nav01';
$s-btn-nav01-x: 3189px;
$s-btn-nav01-y: 737px;
$s-btn-nav01-offset-x: -3189px;
$s-btn-nav01-offset-y: -737px;
$s-btn-nav01-width: 18px;
$s-btn-nav01-height: 19px;
$s-btn-nav01-total-width: 3222px;
$s-btn-nav01-total-height: 2537px;
$s-btn-nav01-image: '../images/sprites.png';
$s-btn-nav01: (3189px, 737px, -3189px, -737px, 18px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav01', );
$s-btn-nav01-disabled-name: 's-btn_nav01_disabled';
$s-btn-nav01-disabled-x: 3189px;
$s-btn-nav01-disabled-y: 713px;
$s-btn-nav01-disabled-offset-x: -3189px;
$s-btn-nav01-disabled-offset-y: -713px;
$s-btn-nav01-disabled-width: 18px;
$s-btn-nav01-disabled-height: 19px;
$s-btn-nav01-disabled-total-width: 3222px;
$s-btn-nav01-disabled-total-height: 2537px;
$s-btn-nav01-disabled-image: '../images/sprites.png';
$s-btn-nav01-disabled: (3189px, 713px, -3189px, -713px, 18px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav01_disabled', );
$s-btn-nav01-selected-name: 's-btn_nav01_selected';
$s-btn-nav01-selected-x: 3189px;
$s-btn-nav01-selected-y: 689px;
$s-btn-nav01-selected-offset-x: -3189px;
$s-btn-nav01-selected-offset-y: -689px;
$s-btn-nav01-selected-width: 18px;
$s-btn-nav01-selected-height: 19px;
$s-btn-nav01-selected-total-width: 3222px;
$s-btn-nav01-selected-total-height: 2537px;
$s-btn-nav01-selected-image: '../images/sprites.png';
$s-btn-nav01-selected: (3189px, 689px, -3189px, -689px, 18px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav01_selected', );
$s-btn-nav02-name: 's-btn_nav02';
$s-btn-nav02-x: 3074px;
$s-btn-nav02-y: 1059px;
$s-btn-nav02-offset-x: -3074px;
$s-btn-nav02-offset-y: -1059px;
$s-btn-nav02-width: 70px;
$s-btn-nav02-height: 19px;
$s-btn-nav02-total-width: 3222px;
$s-btn-nav02-total-height: 2537px;
$s-btn-nav02-image: '../images/sprites.png';
$s-btn-nav02: (3074px, 1059px, -3074px, -1059px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav02', );
$s-btn-nav02-disabled-name: 's-btn_nav02_disabled';
$s-btn-nav02-disabled-x: 3001px;
$s-btn-nav02-disabled-y: 661px;
$s-btn-nav02-disabled-offset-x: -3001px;
$s-btn-nav02-disabled-offset-y: -661px;
$s-btn-nav02-disabled-width: 70px;
$s-btn-nav02-disabled-height: 19px;
$s-btn-nav02-disabled-total-width: 3222px;
$s-btn-nav02-disabled-total-height: 2537px;
$s-btn-nav02-disabled-image: '../images/sprites.png';
$s-btn-nav02-disabled: (3001px, 661px, -3001px, -661px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav02_disabled', );
$s-btn-nav02-selected-name: 's-btn_nav02_selected';
$s-btn-nav02-selected-x: 3076px;
$s-btn-nav02-selected-y: 661px;
$s-btn-nav02-selected-offset-x: -3076px;
$s-btn-nav02-selected-offset-y: -661px;
$s-btn-nav02-selected-width: 70px;
$s-btn-nav02-selected-height: 19px;
$s-btn-nav02-selected-total-width: 3222px;
$s-btn-nav02-selected-total-height: 2537px;
$s-btn-nav02-selected-image: '../images/sprites.png';
$s-btn-nav02-selected: (3076px, 661px, -3076px, -661px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav02_selected', );
$s-btn-nav03-name: 's-btn_nav03';
$s-btn-nav03-x: 3151px;
$s-btn-nav03-y: 661px;
$s-btn-nav03-offset-x: -3151px;
$s-btn-nav03-offset-y: -661px;
$s-btn-nav03-width: 70px;
$s-btn-nav03-height: 19px;
$s-btn-nav03-total-width: 3222px;
$s-btn-nav03-total-height: 2537px;
$s-btn-nav03-image: '../images/sprites.png';
$s-btn-nav03: (3151px, 661px, -3151px, -661px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav03', );
$s-btn-nav03-disabled-name: 's-btn_nav03_disabled';
$s-btn-nav03-disabled-x: 3101px;
$s-btn-nav03-disabled-y: 964px;
$s-btn-nav03-disabled-offset-x: -3101px;
$s-btn-nav03-disabled-offset-y: -964px;
$s-btn-nav03-disabled-width: 70px;
$s-btn-nav03-disabled-height: 19px;
$s-btn-nav03-disabled-total-width: 3222px;
$s-btn-nav03-disabled-total-height: 2537px;
$s-btn-nav03-disabled-image: '../images/sprites.png';
$s-btn-nav03-disabled: (3101px, 964px, -3101px, -964px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav03_disabled', );
$s-btn-nav03-selected-name: 's-btn_nav03_selected';
$s-btn-nav03-selected-x: 3026px;
$s-btn-nav03-selected-y: 964px;
$s-btn-nav03-selected-offset-x: -3026px;
$s-btn-nav03-selected-offset-y: -964px;
$s-btn-nav03-selected-width: 70px;
$s-btn-nav03-selected-height: 19px;
$s-btn-nav03-selected-total-width: 3222px;
$s-btn-nav03-selected-total-height: 2537px;
$s-btn-nav03-selected-image: '../images/sprites.png';
$s-btn-nav03-selected: (3026px, 964px, -3026px, -964px, 70px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav03_selected', );
$s-btn-nav04-name: 's-btn_nav04';
$s-btn-nav04-x: 3164px;
$s-btn-nav04-y: 552px;
$s-btn-nav04-offset-x: -3164px;
$s-btn-nav04-offset-y: -552px;
$s-btn-nav04-width: 51px;
$s-btn-nav04-height: 19px;
$s-btn-nav04-total-width: 3222px;
$s-btn-nav04-total-height: 2537px;
$s-btn-nav04-image: '../images/sprites.png';
$s-btn-nav04: (3164px, 552px, -3164px, -552px, 51px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav04', );
$s-btn-nav04-disabled-name: 's-btn_nav04_disabled';
$s-btn-nav04-disabled-x: 3164px;
$s-btn-nav04-disabled-y: 528px;
$s-btn-nav04-disabled-offset-x: -3164px;
$s-btn-nav04-disabled-offset-y: -528px;
$s-btn-nav04-disabled-width: 51px;
$s-btn-nav04-disabled-height: 19px;
$s-btn-nav04-disabled-total-width: 3222px;
$s-btn-nav04-disabled-total-height: 2537px;
$s-btn-nav04-disabled-image: '../images/sprites.png';
$s-btn-nav04-disabled: (3164px, 528px, -3164px, -528px, 51px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav04_disabled', );
$s-btn-nav04-selected-name: 's-btn_nav04_selected';
$s-btn-nav04-selected-x: 3164px;
$s-btn-nav04-selected-y: 504px;
$s-btn-nav04-selected-offset-x: -3164px;
$s-btn-nav04-selected-offset-y: -504px;
$s-btn-nav04-selected-width: 51px;
$s-btn-nav04-selected-height: 19px;
$s-btn-nav04-selected-total-width: 3222px;
$s-btn-nav04-selected-total-height: 2537px;
$s-btn-nav04-selected-image: '../images/sprites.png';
$s-btn-nav04-selected: (3164px, 504px, -3164px, -504px, 51px, 19px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav04_selected', );
$s-btn-nav05-name: 's-btn_nav05';
$s-btn-nav05-x: 3164px;
$s-btn-nav05-y: 576px;
$s-btn-nav05-offset-x: -3164px;
$s-btn-nav05-offset-y: -576px;
$s-btn-nav05-width: 53px;
$s-btn-nav05-height: 18px;
$s-btn-nav05-total-width: 3222px;
$s-btn-nav05-total-height: 2537px;
$s-btn-nav05-image: '../images/sprites.png';
$s-btn-nav05: (3164px, 576px, -3164px, -576px, 53px, 18px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav05', );
$s-btn-nav05-disabled-name: 's-btn_nav05_disabled';
$s-btn-nav05-disabled-x: 3026px;
$s-btn-nav05-disabled-y: 988px;
$s-btn-nav05-disabled-offset-x: -3026px;
$s-btn-nav05-disabled-offset-y: -988px;
$s-btn-nav05-disabled-width: 53px;
$s-btn-nav05-disabled-height: 18px;
$s-btn-nav05-disabled-total-width: 3222px;
$s-btn-nav05-disabled-total-height: 2537px;
$s-btn-nav05-disabled-image: '../images/sprites.png';
$s-btn-nav05-disabled: (3026px, 988px, -3026px, -988px, 53px, 18px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav05_disabled', );
$s-btn-nav05-selected-name: 's-btn_nav05_selected';
$s-btn-nav05-selected-x: 3084px;
$s-btn-nav05-selected-y: 988px;
$s-btn-nav05-selected-offset-x: -3084px;
$s-btn-nav05-selected-offset-y: -988px;
$s-btn-nav05-selected-width: 53px;
$s-btn-nav05-selected-height: 18px;
$s-btn-nav05-selected-total-width: 3222px;
$s-btn-nav05-selected-total-height: 2537px;
$s-btn-nav05-selected-image: '../images/sprites.png';
$s-btn-nav05-selected: (3084px, 988px, -3084px, -988px, 53px, 18px, 3222px, 2537px, '../images/sprites.png', 's-btn_nav05_selected', );
$s-btn-plus01-name: 's-btn_plus01';
$s-btn-plus01-x: 3111px;
$s-btn-plus01-y: 852px;
$s-btn-plus01-offset-x: -3111px;
$s-btn-plus01-offset-y: -852px;
$s-btn-plus01-width: 88px;
$s-btn-plus01-height: 88px;
$s-btn-plus01-total-width: 3222px;
$s-btn-plus01-total-height: 2537px;
$s-btn-plus01-image: '../images/sprites.png';
$s-btn-plus01: (3111px, 852px, -3111px, -852px, 88px, 88px, 3222px, 2537px, '../images/sprites.png', 's-btn_plus01', );
$s-event-message01-name: 's-event_message01';
$s-event-message01-x: 457px;
$s-event-message01-y: 1591px;
$s-event-message01-offset-x: -457px;
$s-event-message01-offset-y: -1591px;
$s-event-message01-width: 879px;
$s-event-message01-height: 39px;
$s-event-message01-total-width: 3222px;
$s-event-message01-total-height: 2537px;
$s-event-message01-image: '../images/sprites.png';
$s-event-message01: (457px, 1591px, -457px, -1591px, 879px, 39px, 3222px, 2537px, '../images/sprites.png', 's-event_message01', );
$s-event-title-name: 's-event_title';
$s-event-title-x: 520px;
$s-event-title-y: 2104px;
$s-event-title-offset-x: -520px;
$s-event-title-offset-y: -2104px;
$s-event-title-width: 702px;
$s-event-title-height: 198px;
$s-event-title-total-width: 3222px;
$s-event-title-total-height: 2537px;
$s-event-title-image: '../images/sprites.png';
$s-event-title: (520px, 2104px, -520px, -2104px, 702px, 198px, 3222px, 2537px, '../images/sprites.png', 's-event_title', );
$s-event-txt-confirm-name: 's-event_txt_confirm';
$s-event-txt-confirm-x: 3029px;
$s-event-txt-confirm-y: 1570px;
$s-event-txt-confirm-offset-x: -3029px;
$s-event-txt-confirm-offset-y: -1570px;
$s-event-txt-confirm-width: 169px;
$s-event-txt-confirm-height: 47px;
$s-event-txt-confirm-total-width: 3222px;
$s-event-txt-confirm-total-height: 2537px;
$s-event-txt-confirm-image: '../images/sprites.png';
$s-event-txt-confirm: (3029px, 1570px, -3029px, -1570px, 169px, 47px, 3222px, 2537px, '../images/sprites.png', 's-event_txt_confirm', );
$s-event-txt-copy-name: 's-event_txt_copy';
$s-event-txt-copy-x: 1509px;
$s-event-txt-copy-y: 1068px;
$s-event-txt-copy-offset-x: -1509px;
$s-event-txt-copy-offset-y: -1068px;
$s-event-txt-copy-width: 166px;
$s-event-txt-copy-height: 45px;
$s-event-txt-copy-total-width: 3222px;
$s-event-txt-copy-total-height: 2537px;
$s-event-txt-copy-image: '../images/sprites.png';
$s-event-txt-copy: (1509px, 1068px, -1509px, -1068px, 166px, 45px, 3222px, 2537px, '../images/sprites.png', 's-event_txt_copy', );
$s-event-txt-phone-name: 's-event_txt_phone';
$s-event-txt-phone-x: 3001px;
$s-event-txt-phone-y: 610px;
$s-event-txt-phone-offset-x: -3001px;
$s-event-txt-phone-offset-y: -610px;
$s-event-txt-phone-width: 214px;
$s-event-txt-phone-height: 46px;
$s-event-txt-phone-total-width: 3222px;
$s-event-txt-phone-total-height: 2537px;
$s-event-txt-phone-image: '../images/sprites.png';
$s-event-txt-phone: (3001px, 610px, -3001px, -610px, 214px, 46px, 3222px, 2537px, '../images/sprites.png', 's-event_txt_phone', );
$s-logo01-name: 's-logo01';
$s-logo01-x: 3026px;
$s-logo01-y: 852px;
$s-logo01-offset-x: -3026px;
$s-logo01-offset-y: -852px;
$s-logo01-width: 80px;
$s-logo01-height: 107px;
$s-logo01-total-width: 3222px;
$s-logo01-total-height: 2537px;
$s-logo01-image: '../images/sprites.png';
$s-logo01: (3026px, 852px, -3026px, -852px, 80px, 107px, 3222px, 2537px, '../images/sprites.png', 's-logo01', );
$s-scene01-moon-name: 's-scene01_moon';
$s-scene01-moon-x: 2704px;
$s-scene01-moon-y: 689px;
$s-scene01-moon-offset-x: -2704px;
$s-scene01-moon-offset-y: -689px;
$s-scene01-moon-width: 317px;
$s-scene01-moon-height: 317px;
$s-scene01-moon-total-width: 3222px;
$s-scene01-moon-total-height: 2537px;
$s-scene01-moon-image: '../images/sprites.png';
$s-scene01-moon: (2704px, 689px, -2704px, -689px, 317px, 317px, 3222px, 2537px, '../images/sprites.png', 's-scene01_moon', );
$s-scene01-start-name: 's-scene01_start';
$s-scene01-start-x: 3074px;
$s-scene01-start-y: 1011px;
$s-scene01-start-offset-x: -3074px;
$s-scene01-start-offset-y: -1011px;
$s-scene01-start-width: 74px;
$s-scene01-start-height: 43px;
$s-scene01-start-total-width: 3222px;
$s-scene01-start-total-height: 2537px;
$s-scene01-start-image: '../images/sprites.png';
$s-scene01-start: (3074px, 1011px, -3074px, -1011px, 74px, 43px, 3222px, 2537px, '../images/sprites.png', 's-scene01_start', );
$s-scene01-txt01-name: 's-scene01_txt01';
$s-scene01-txt01-x: 2704px;
$s-scene01-txt01-y: 1859px;
$s-scene01-txt01-offset-x: -2704px;
$s-scene01-txt01-offset-y: -1859px;
$s-scene01-txt01-width: 421px;
$s-scene01-txt01-height: 126px;
$s-scene01-txt01-total-width: 3222px;
$s-scene01-txt01-total-height: 2537px;
$s-scene01-txt01-image: '../images/sprites.png';
$s-scene01-txt01: (2704px, 1859px, -2704px, -1859px, 421px, 126px, 3222px, 2537px, '../images/sprites.png', 's-scene01_txt01', );
$s-scene01-txt02-name: 's-scene01_txt02';
$s-scene01-txt02-x: 520px;
$s-scene01-txt02-y: 2418px;
$s-scene01-txt02-offset-x: -520px;
$s-scene01-txt02-offset-y: -2418px;
$s-scene01-txt02-width: 317px;
$s-scene01-txt02-height: 109px;
$s-scene01-txt02-total-width: 3222px;
$s-scene01-txt02-total-height: 2537px;
$s-scene01-txt02-image: '../images/sprites.png';
$s-scene01-txt02: (520px, 2418px, -520px, -2418px, 317px, 109px, 3222px, 2537px, '../images/sprites.png', 's-scene01_txt02', );
$s-scene01-wally-name: 's-scene01_wally';
$s-scene01-wally-x: 1733px;
$s-scene01-wally-y: 1016px;
$s-scene01-wally-offset-x: -1733px;
$s-scene01-wally-offset-y: -1016px;
$s-scene01-wally-width: 435px;
$s-scene01-wally-height: 350px;
$s-scene01-wally-total-width: 3222px;
$s-scene01-wally-total-height: 2537px;
$s-scene01-wally-image: '../images/sprites.png';
$s-scene01-wally: (1733px, 1016px, -1733px, -1016px, 435px, 350px, 3222px, 2537px, '../images/sprites.png', 's-scene01_wally', );
$s-scene03-bg01-name: 's-scene03_bg01';
$s-scene03-bg01-x: 830px;
$s-scene03-bg01-y: 0px;
$s-scene03-bg01-offset-x: -830px;
$s-scene03-bg01-offset-y: 0px;
$s-scene03-bg01-width: 898px;
$s-scene03-bg01-height: 383px;
$s-scene03-bg01-total-width: 3222px;
$s-scene03-bg01-total-height: 2537px;
$s-scene03-bg01-image: '../images/sprites.png';
$s-scene03-bg01: (830px, 0px, -830px, 0px, 898px, 383px, 3222px, 2537px, '../images/sprites.png', 's-scene03_bg01', );
$s-scene03-btn-location-name: 's-scene03_btn_location';
$s-scene03-btn-location-x: 1724px;
$s-scene03-btn-location-y: 1809px;
$s-scene03-btn-location-offset-x: -1724px;
$s-scene03-btn-location-offset-y: -1809px;
$s-scene03-btn-location-width: 335px;
$s-scene03-btn-location-height: 134px;
$s-scene03-btn-location-total-width: 3222px;
$s-scene03-btn-location-total-height: 2537px;
$s-scene03-btn-location-image: '../images/sprites.png';
$s-scene03-btn-location: (1724px, 1809px, -1724px, -1809px, 335px, 134px, 3222px, 2537px, '../images/sprites.png', 's-scene03_btn_location', );
$s-scene03-txt01-name: 's-scene03_txt01';
$s-scene03-txt01-x: 2704px;
$s-scene03-txt01-y: 1011px;
$s-scene03-txt01-offset-x: -2704px;
$s-scene03-txt01-offset-y: -1011px;
$s-scene03-txt01-width: 365px;
$s-scene03-txt01-height: 219px;
$s-scene03-txt01-total-width: 3222px;
$s-scene03-txt01-total-height: 2537px;
$s-scene03-txt01-image: '../images/sprites.png';
$s-scene03-txt01: (2704px, 1011px, -2704px, -1011px, 365px, 219px, 3222px, 2537px, '../images/sprites.png', 's-scene03_txt01', );
$s-scene03-wally-name: 's-scene03_wally';
$s-scene03-wally-x: 2188px;
$s-scene03-wally-y: 501px;
$s-scene03-wally-offset-x: -2188px;
$s-scene03-wally-offset-y: -501px;
$s-scene03-wally-width: 443px;
$s-scene03-wally-height: 518px;
$s-scene03-wally-total-width: 3222px;
$s-scene03-wally-total-height: 2537px;
$s-scene03-wally-image: '../images/sprites.png';
$s-scene03-wally: (2188px, 501px, -2188px, -501px, 443px, 518px, 3222px, 2537px, '../images/sprites.png', 's-scene03_wally', );
$s-scene04-object01-name: 's-scene04_object01';
$s-scene04-object01-x: 2704px;
$s-scene04-object01-y: 1635px;
$s-scene04-object01-offset-x: -2704px;
$s-scene04-object01-offset-y: -1635px;
$s-scene04-object01-width: 252px;
$s-scene04-object01-height: 219px;
$s-scene04-object01-total-width: 3222px;
$s-scene04-object01-total-height: 2537px;
$s-scene04-object01-image: '../images/sprites.png';
$s-scene04-object01: (2704px, 1635px, -2704px, -1635px, 252px, 219px, 3222px, 2537px, '../images/sprites.png', 's-scene04_object01', );
$s-scene04-wally-name: 's-scene04_wally';
$s-scene04-wally-x: 2704px;
$s-scene04-wally-y: 0px;
$s-scene04-wally-offset-x: -2704px;
$s-scene04-wally-offset-y: 0px;
$s-scene04-wally-width: 518px;
$s-scene04-wally-height: 262px;
$s-scene04-wally-total-width: 3222px;
$s-scene04-wally-total-height: 2537px;
$s-scene04-wally-image: '../images/sprites.png';
$s-scene04-wally: (2704px, 0px, -2704px, 0px, 518px, 262px, 3222px, 2537px, '../images/sprites.png', 's-scene04_wally', );
$s-scene04-wilma-name: 's-scene04_wilma';
$s-scene04-wilma-x: 1167px;
$s-scene04-wilma-y: 1681px;
$s-scene04-wilma-offset-x: -1167px;
$s-scene04-wilma-offset-y: -1681px;
$s-scene04-wilma-width: 552px;
$s-scene04-wilma-height: 282px;
$s-scene04-wilma-total-width: 3222px;
$s-scene04-wilma-total-height: 2537px;
$s-scene04-wilma-image: '../images/sprites.png';
$s-scene04-wilma: (1167px, 1681px, -1167px, -1681px, 552px, 282px, 3222px, 2537px, '../images/sprites.png', 's-scene04_wilma', );
$s-scene05-odlaw-name: 's-scene05_odlaw';
$s-scene05-odlaw-x: 457px;
$s-scene05-odlaw-y: 1068px;
$s-scene05-odlaw-offset-x: -457px;
$s-scene05-odlaw-offset-y: -1068px;
$s-scene05-odlaw-width: 523px;
$s-scene05-odlaw-height: 518px;
$s-scene05-odlaw-total-width: 3222px;
$s-scene05-odlaw-total-height: 2537px;
$s-scene05-odlaw-image: '../images/sprites.png';
$s-scene05-odlaw: (457px, 1068px, -457px, -1068px, 523px, 518px, 3222px, 2537px, '../images/sprites.png', 's-scene05_odlaw', );
$s-scene05-wally-name: 's-scene05_wally';
$s-scene05-wally-x: 1074px;
$s-scene05-wally-y: 466px;
$s-scene05-wally-offset-x: -1074px;
$s-scene05-wally-offset-y: -466px;
$s-scene05-wally-width: 504px;
$s-scene05-wally-height: 567px;
$s-scene05-wally-total-width: 3222px;
$s-scene05-wally-total-height: 2537px;
$s-scene05-wally-image: '../images/sprites.png';
$s-scene05-wally: (1074px, 466px, -1074px, -466px, 504px, 567px, 3222px, 2537px, '../images/sprites.png', 's-scene05_wally', );
$s-scene05-wilma-name: 's-scene05_wilma';
$s-scene05-wilma-x: 0px;
$s-scene05-wilma-y: 1681px;
$s-scene05-wilma-offset-x: 0px;
$s-scene05-wilma-offset-y: -1681px;
$s-scene05-wilma-width: 611px;
$s-scene05-wilma-height: 418px;
$s-scene05-wilma-total-width: 3222px;
$s-scene05-wilma-total-height: 2537px;
$s-scene05-wilma-image: '../images/sprites.png';
$s-scene05-wilma: (0px, 1681px, 0px, -1681px, 611px, 418px, 3222px, 2537px, '../images/sprites.png', 's-scene05_wilma', );
$s-scene05-woof-name: 's-scene05_woof';
$s-scene05-woof-x: 616px;
$s-scene05-woof-y: 1681px;
$s-scene05-woof-offset-x: -616px;
$s-scene05-woof-offset-y: -1681px;
$s-scene05-woof-width: 546px;
$s-scene05-woof-height: 375px;
$s-scene05-woof-total-width: 3222px;
$s-scene05-woof-total-height: 2537px;
$s-scene05-woof-image: '../images/sprites.png';
$s-scene05-woof: (616px, 1681px, -616px, -1681px, 546px, 375px, 3222px, 2537px, '../images/sprites.png', 's-scene05_woof', );
$s-scene06-btn-market-name: 's-scene06_btn_market';
$s-scene06-btn-market-x: 2704px;
$s-scene06-btn-market-y: 2118px;
$s-scene06-btn-market-offset-x: -2704px;
$s-scene06-btn-market-offset-y: -2118px;
$s-scene06-btn-market-width: 385px;
$s-scene06-btn-market-height: 129px;
$s-scene06-btn-market-total-width: 3222px;
$s-scene06-btn-market-total-height: 2537px;
$s-scene06-btn-market-image: '../images/sprites.png';
$s-scene06-btn-market: (2704px, 2118px, -2704px, -2118px, 385px, 129px, 3222px, 2537px, '../images/sprites.png', 's-scene06_btn_market', );
$s-scene06-odlaw-name: 's-scene06_odlaw';
$s-scene06-odlaw-x: 1733px;
$s-scene06-odlaw-y: 594px;
$s-scene06-odlaw-offset-x: -1733px;
$s-scene06-odlaw-offset-y: -594px;
$s-scene06-odlaw-width: 386px;
$s-scene06-odlaw-height: 417px;
$s-scene06-odlaw-total-width: 3222px;
$s-scene06-odlaw-total-height: 2537px;
$s-scene06-odlaw-image: '../images/sprites.png';
$s-scene06-odlaw: (1733px, 594px, -1733px, -594px, 386px, 417px, 3222px, 2537px, '../images/sprites.png', 's-scene06_odlaw', );
$s-scene06-wally-name: 's-scene06_wally';
$s-scene06-wally-x: 2188px;
$s-scene06-wally-y: 1024px;
$s-scene06-wally-offset-x: -2188px;
$s-scene06-wally-offset-y: -1024px;
$s-scene06-wally-width: 451px;
$s-scene06-wally-height: 449px;
$s-scene06-wally-total-width: 3222px;
$s-scene06-wally-total-height: 2537px;
$s-scene06-wally-image: '../images/sprites.png';
$s-scene06-wally: (2188px, 1024px, -2188px, -1024px, 451px, 449px, 3222px, 2537px, '../images/sprites.png', 's-scene06_wally', );
$s-scene06-wizard-name: 's-scene06_wizard';
$s-scene06-wizard-x: 2704px;
$s-scene06-wizard-y: 267px;
$s-scene06-wizard-offset-x: -2704px;
$s-scene06-wizard-offset-y: -267px;
$s-scene06-wizard-width: 292px;
$s-scene06-wizard-height: 417px;
$s-scene06-wizard-total-width: 3222px;
$s-scene06-wizard-total-height: 2537px;
$s-scene06-wizard-image: '../images/sprites.png';
$s-scene06-wizard: (2704px, 267px, -2704px, -267px, 292px, 417px, 3222px, 2537px, '../images/sprites.png', 's-scene06_wizard', );
$s-scene07-odlaw-name: 's-scene07_odlaw';
$s-scene07-odlaw-x: 0px;
$s-scene07-odlaw-y: 466px;
$s-scene07-odlaw-offset-x: 0px;
$s-scene07-odlaw-offset-y: -466px;
$s-scene07-odlaw-width: 539px;
$s-scene07-odlaw-height: 597px;
$s-scene07-odlaw-total-width: 3222px;
$s-scene07-odlaw-total-height: 2537px;
$s-scene07-odlaw-image: '../images/sprites.png';
$s-scene07-odlaw: (0px, 466px, 0px, -466px, 539px, 597px, 3222px, 2537px, '../images/sprites.png', 's-scene07_odlaw', );
$s-scene07-wally-name: 's-scene07_wally';
$s-scene07-wally-x: 1733px;
$s-scene07-wally-y: 0px;
$s-scene07-wally-offset-x: -1733px;
$s-scene07-wally-offset-y: 0px;
$s-scene07-wally-width: 450px;
$s-scene07-wally-height: 589px;
$s-scene07-wally-total-width: 3222px;
$s-scene07-wally-total-height: 2537px;
$s-scene07-wally-image: '../images/sprites.png';
$s-scene07-wally: (1733px, 0px, -1733px, 0px, 450px, 589px, 3222px, 2537px, '../images/sprites.png', 's-scene07_wally', );
$s-scene07-wilma-name: 's-scene07_wilma';
$s-scene07-wilma-x: 2188px;
$s-scene07-wilma-y: 1478px;
$s-scene07-wilma-offset-x: -2188px;
$s-scene07-wilma-offset-y: -1478px;
$s-scene07-wilma-width: 465px;
$s-scene07-wilma-height: 416px;
$s-scene07-wilma-total-width: 3222px;
$s-scene07-wilma-total-height: 2537px;
$s-scene07-wilma-image: '../images/sprites.png';
$s-scene07-wilma: (2188px, 1478px, -2188px, -1478px, 465px, 416px, 3222px, 2537px, '../images/sprites.png', 's-scene07_wilma', );
$s-scene07-woof-name: 's-scene07_woof';
$s-scene07-woof-x: 0px;
$s-scene07-woof-y: 1068px;
$s-scene07-woof-offset-x: 0px;
$s-scene07-woof-offset-y: -1068px;
$s-scene07-woof-width: 452px;
$s-scene07-woof-height: 608px;
$s-scene07-woof-total-width: 3222px;
$s-scene07-woof-total-height: 2537px;
$s-scene07-woof-image: '../images/sprites.png';
$s-scene07-woof: (0px, 1068px, 0px, -1068px, 452px, 608px, 3222px, 2537px, '../images/sprites.png', 's-scene07_woof', );
$s-scene08-btn-pub-name: 's-scene08_btn_pub';
$s-scene08-btn-pub-x: 2704px;
$s-scene08-btn-pub-y: 1235px;
$s-scene08-btn-pub-offset-x: -2704px;
$s-scene08-btn-pub-offset-y: -1235px;
$s-scene08-btn-pub-width: 461px;
$s-scene08-btn-pub-height: 167px;
$s-scene08-btn-pub-total-width: 3222px;
$s-scene08-btn-pub-total-height: 2537px;
$s-scene08-btn-pub-image: '../images/sprites.png';
$s-scene08-btn-pub: (2704px, 1235px, -2704px, -1235px, 461px, 167px, 3222px, 2537px, '../images/sprites.png', 's-scene08_btn_pub', );
$s-scene08-parassol01-name: 's-scene08_parassol01';
$s-scene08-parassol01-x: 544px;
$s-scene08-parassol01-y: 466px;
$s-scene08-parassol01-offset-x: -544px;
$s-scene08-parassol01-offset-y: -466px;
$s-scene08-parassol01-width: 525px;
$s-scene08-parassol01-height: 576px;
$s-scene08-parassol01-total-width: 3222px;
$s-scene08-parassol01-total-height: 2537px;
$s-scene08-parassol01-image: '../images/sprites.png';
$s-scene08-parassol01: (544px, 466px, -544px, -466px, 525px, 576px, 3222px, 2537px, '../images/sprites.png', 's-scene08_parassol01', );
$s-scene08-parassol02-name: 's-scene08_parassol02';
$s-scene08-parassol02-x: 0px;
$s-scene08-parassol02-y: 2104px;
$s-scene08-parassol02-offset-x: 0px;
$s-scene08-parassol02-offset-y: -2104px;
$s-scene08-parassol02-width: 515px;
$s-scene08-parassol02-height: 433px;
$s-scene08-parassol02-total-width: 3222px;
$s-scene08-parassol02-total-height: 2537px;
$s-scene08-parassol02-image: '../images/sprites.png';
$s-scene08-parassol02: (0px, 2104px, 0px, -2104px, 515px, 433px, 3222px, 2537px, '../images/sprites.png', 's-scene08_parassol02', );
$s-scene08-wally-name: 's-scene08_wally';
$s-scene08-wally-x: 985px;
$s-scene08-wally-y: 1068px;
$s-scene08-wally-offset-x: -985px;
$s-scene08-wally-offset-y: -1068px;
$s-scene08-wally-width: 519px;
$s-scene08-wally-height: 501px;
$s-scene08-wally-total-width: 3222px;
$s-scene08-wally-total-height: 2537px;
$s-scene08-wally-image: '../images/sprites.png';
$s-scene08-wally: (985px, 1068px, -985px, -1068px, 519px, 501px, 3222px, 2537px, '../images/sprites.png', 's-scene08_wally', );
$s-scene08-wilma-name: 's-scene08_wilma';
$s-scene08-wilma-x: 2188px;
$s-scene08-wilma-y: 0px;
$s-scene08-wilma-offset-x: -2188px;
$s-scene08-wilma-offset-y: 0px;
$s-scene08-wilma-width: 511px;
$s-scene08-wilma-height: 496px;
$s-scene08-wilma-total-width: 3222px;
$s-scene08-wilma-total-height: 2537px;
$s-scene08-wilma-image: '../images/sprites.png';
$s-scene08-wilma: (2188px, 0px, -2188px, 0px, 511px, 496px, 3222px, 2537px, '../images/sprites.png', 's-scene08_wilma', );
$s-scene09-people-name: 's-scene09_people';
$s-scene09-people-x: 0px;
$s-scene09-people-y: 0px;
$s-scene09-people-offset-x: 0px;
$s-scene09-people-offset-y: 0px;
$s-scene09-people-width: 825px;
$s-scene09-people-height: 461px;
$s-scene09-people-total-width: 3222px;
$s-scene09-people-total-height: 2537px;
$s-scene09-people-image: '../images/sprites.png';
$s-scene09-people: (0px, 0px, 0px, 0px, 825px, 461px, 3222px, 2537px, '../images/sprites.png', 's-scene09_people', );
$s-scene09-txt01-name: 's-scene09_txt01';
$s-scene09-txt01-x: 3001px;
$s-scene09-txt01-y: 267px;
$s-scene09-txt01-offset-x: -3001px;
$s-scene09-txt01-offset-y: -267px;
$s-scene09-txt01-width: 212px;
$s-scene09-txt01-height: 175px;
$s-scene09-txt01-total-width: 3222px;
$s-scene09-txt01-total-height: 2537px;
$s-scene09-txt01-image: '../images/sprites.png';
$s-scene09-txt01: (3001px, 267px, -3001px, -267px, 212px, 175px, 3222px, 2537px, '../images/sprites.png', 's-scene09_txt01', );
$s-scene09-txt02-name: 's-scene09_txt02';
$s-scene09-txt02-x: 2961px;
$s-scene09-txt02-y: 1635px;
$s-scene09-txt02-offset-x: -2961px;
$s-scene09-txt02-offset-y: -1635px;
$s-scene09-txt02-width: 225px;
$s-scene09-txt02-height: 172px;
$s-scene09-txt02-total-width: 3222px;
$s-scene09-txt02-total-height: 2537px;
$s-scene09-txt02-image: '../images/sprites.png';
$s-scene09-txt02: (2961px, 1635px, -2961px, -1635px, 225px, 172px, 3222px, 2537px, '../images/sprites.png', 's-scene09_txt02', );
$s-scene09-txt03-name: 's-scene09_txt03';
$s-scene09-txt03-x: 2704px;
$s-scene09-txt03-y: 1407px;
$s-scene09-txt03-offset-x: -2704px;
$s-scene09-txt03-offset-y: -1407px;
$s-scene09-txt03-width: 320px;
$s-scene09-txt03-height: 223px;
$s-scene09-txt03-total-width: 3222px;
$s-scene09-txt03-total-height: 2537px;
$s-scene09-txt03-image: '../images/sprites.png';
$s-scene09-txt03: (2704px, 1407px, -2704px, -1407px, 320px, 223px, 3222px, 2537px, '../images/sprites.png', 's-scene09_txt03', );
$s-step01-name: 's-step01';
$s-step01-x: 3029px;
$s-step01-y: 1407px;
$s-step01-offset-x: -3029px;
$s-step01-offset-y: -1407px;
$s-step01-width: 158px;
$s-step01-height: 158px;
$s-step01-total-width: 3222px;
$s-step01-total-height: 2537px;
$s-step01-image: '../images/sprites.png';
$s-step01: (3029px, 1407px, -3029px, -1407px, 158px, 158px, 3222px, 2537px, '../images/sprites.png', 's-step01', );
$s-step01-txt-name: 's-step01_txt';
$s-step01-txt-x: 1227px;
$s-step01-txt-y: 2104px;
$s-step01-txt-offset-x: -1227px;
$s-step01-txt-offset-y: -2104px;
$s-step01-txt-width: 792px;
$s-step01-txt-height: 103px;
$s-step01-txt-total-width: 3222px;
$s-step01-txt-total-height: 2537px;
$s-step01-txt-image: '../images/sprites.png';
$s-step01-txt: (1227px, 2104px, -1227px, -2104px, 792px, 103px, 3222px, 2537px, '../images/sprites.png', 's-step01_txt', );
$s-step02-name: 's-step02';
$s-step02-x: 3001px;
$s-step02-y: 447px;
$s-step02-offset-x: -3001px;
$s-step02-offset-y: -447px;
$s-step02-width: 158px;
$s-step02-height: 158px;
$s-step02-total-width: 3222px;
$s-step02-total-height: 2537px;
$s-step02-image: '../images/sprites.png';
$s-step02: (3001px, 447px, -3001px, -447px, 158px, 158px, 3222px, 2537px, '../images/sprites.png', 's-step02', );
$s-step02-txt-name: 's-step02_txt';
$s-step02-txt-x: 520px;
$s-step02-txt-y: 2307px;
$s-step02-txt-offset-x: -520px;
$s-step02-txt-offset-y: -2307px;
$s-step02-txt-width: 664px;
$s-step02-txt-height: 106px;
$s-step02-txt-total-width: 3222px;
$s-step02-txt-total-height: 2537px;
$s-step02-txt-image: '../images/sprites.png';
$s-step02-txt: (520px, 2307px, -520px, -2307px, 664px, 106px, 3222px, 2537px, '../images/sprites.png', 's-step02_txt', );
$s-step03-name: 's-step03';
$s-step03-x: 3026px;
$s-step03-y: 689px;
$s-step03-offset-x: -3026px;
$s-step03-offset-y: -689px;
$s-step03-width: 158px;
$s-step03-height: 158px;
$s-step03-total-width: 3222px;
$s-step03-total-height: 2537px;
$s-step03-image: '../images/sprites.png';
$s-step03: (3026px, 689px, -3026px, -689px, 158px, 158px, 3222px, 2537px, '../images/sprites.png', 's-step03', );
$s-step03-txt-name: 's-step03_txt';
$s-step03-txt-x: 830px;
$s-step03-txt-y: 388px;
$s-step03-txt-offset-x: -830px;
$s-step03-txt-offset-y: -388px;
$s-step03-txt-width: 862px;
$s-step03-txt-height: 50px;
$s-step03-txt-total-width: 3222px;
$s-step03-txt-total-height: 2537px;
$s-step03-txt-image: '../images/sprites.png';
$s-step03-txt: (830px, 388px, -830px, -388px, 862px, 50px, 3222px, 2537px, '../images/sprites.png', 's-step03_txt', );
$s-time-1030-name: 's-time_1030';
$s-time-1030-x: 2704px;
$s-time-1030-y: 2380px;
$s-time-1030-offset-x: -2704px;
$s-time-1030-offset-y: -2380px;
$s-time-1030-width: 402px;
$s-time-1030-height: 123px;
$s-time-1030-total-width: 3222px;
$s-time-1030-total-height: 2537px;
$s-time-1030-image: '../images/sprites.png';
$s-time-1030: (2704px, 2380px, -2704px, -2380px, 402px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1030', );
$s-time-1030-txt-name: 's-time_1030_txt';
$s-time-1030-txt-x: 2024px;
$s-time-1030-txt-y: 2104px;
$s-time-1030-txt-offset-x: -2024px;
$s-time-1030-txt-offset-y: -2104px;
$s-time-1030-txt-width: 397px;
$s-time-1030-txt-height: 67px;
$s-time-1030-txt-total-width: 3222px;
$s-time-1030-txt-total-height: 2537px;
$s-time-1030-txt-image: '../images/sprites.png';
$s-time-1030-txt: (2024px, 2104px, -2024px, -2104px, 397px, 67px, 3222px, 2537px, '../images/sprites.png', 's-time_1030_txt', );
$s-time-1100-name: 's-time_1100';
$s-time-1100-x: 1724px;
$s-time-1100-y: 1681px;
$s-time-1100-offset-x: -1724px;
$s-time-1100-offset-y: -1681px;
$s-time-1100-width: 383px;
$s-time-1100-height: 123px;
$s-time-1100-total-width: 3222px;
$s-time-1100-total-height: 2537px;
$s-time-1100-image: '../images/sprites.png';
$s-time-1100: (1724px, 1681px, -1724px, -1681px, 383px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1100', );
$s-time-1100-txt-name: 's-time_1100_txt';
$s-time-1100-txt-x: 2188px;
$s-time-1100-txt-y: 2027px;
$s-time-1100-txt-offset-x: -2188px;
$s-time-1100-txt-offset-y: -2027px;
$s-time-1100-txt-width: 454px;
$s-time-1100-txt-height: 67px;
$s-time-1100-txt-total-width: 3222px;
$s-time-1100-txt-total-height: 2537px;
$s-time-1100-txt-image: '../images/sprites.png';
$s-time-1100-txt: (2188px, 2027px, -2188px, -2027px, 454px, 67px, 3222px, 2537px, '../images/sprites.png', 's-time_1100_txt', );
$s-time-1300-name: 's-time_1300';
$s-time-1300-x: 2188px;
$s-time-1300-y: 1899px;
$s-time-1300-offset-x: -2188px;
$s-time-1300-offset-y: -1899px;
$s-time-1300-width: 402px;
$s-time-1300-height: 123px;
$s-time-1300-total-width: 3222px;
$s-time-1300-total-height: 2537px;
$s-time-1300-image: '../images/sprites.png';
$s-time-1300: (2188px, 1899px, -2188px, -1899px, 402px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1300', );
$s-time-1300-txt-name: 's-time_1300_txt';
$s-time-1300-txt-x: 1167px;
$s-time-1300-txt-y: 1968px;
$s-time-1300-txt-offset-x: -1167px;
$s-time-1300-txt-offset-y: -1968px;
$s-time-1300-txt-width: 514px;
$s-time-1300-txt-height: 66px;
$s-time-1300-txt-total-width: 3222px;
$s-time-1300-txt-total-height: 2537px;
$s-time-1300-txt-image: '../images/sprites.png';
$s-time-1300-txt: (1167px, 1968px, -1167px, -1968px, 514px, 66px, 3222px, 2537px, '../images/sprites.png', 's-time_1300_txt', );
$s-time-1500-name: 's-time_1500';
$s-time-1500-x: 2704px;
$s-time-1500-y: 2252px;
$s-time-1500-offset-x: -2704px;
$s-time-1500-offset-y: -2252px;
$s-time-1500-width: 403px;
$s-time-1500-height: 123px;
$s-time-1500-total-width: 3222px;
$s-time-1500-total-height: 2537px;
$s-time-1500-image: '../images/sprites.png';
$s-time-1500: (2704px, 2252px, -2704px, -2252px, 403px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1500', );
$s-time-1500-txt-name: 's-time_1500_txt';
$s-time-1500-txt-x: 1686px;
$s-time-1500-txt-y: 1968px;
$s-time-1500-txt-offset-x: -1686px;
$s-time-1500-txt-offset-y: -1968px;
$s-time-1500-txt-width: 373px;
$s-time-1500-txt-height: 65px;
$s-time-1500-txt-total-width: 3222px;
$s-time-1500-txt-total-height: 2537px;
$s-time-1500-txt-image: '../images/sprites.png';
$s-time-1500-txt: (1686px, 1968px, -1686px, -1968px, 373px, 65px, 3222px, 2537px, '../images/sprites.png', 's-time_1500_txt', );
$s-time-1700-name: 's-time_1700';
$s-time-1700-x: 1733px;
$s-time-1700-y: 1499px;
$s-time-1700-offset-x: -1733px;
$s-time-1700-offset-y: -1499px;
$s-time-1700-width: 398px;
$s-time-1700-height: 123px;
$s-time-1700-total-width: 3222px;
$s-time-1700-total-height: 2537px;
$s-time-1700-image: '../images/sprites.png';
$s-time-1700: (1733px, 1499px, -1733px, -1499px, 398px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1700', );
$s-time-1700-txt-name: 's-time_1700_txt';
$s-time-1700-txt-x: 1189px;
$s-time-1700-txt-y: 2307px;
$s-time-1700-txt-offset-x: -1189px;
$s-time-1700-txt-offset-y: -2307px;
$s-time-1700-txt-width: 330px;
$s-time-1700-txt-height: 67px;
$s-time-1700-txt-total-width: 3222px;
$s-time-1700-txt-total-height: 2537px;
$s-time-1700-txt-image: '../images/sprites.png';
$s-time-1700-txt: (1189px, 2307px, -1189px, -2307px, 330px, 67px, 3222px, 2537px, '../images/sprites.png', 's-time_1700_txt', );
$s-time-1900-name: 's-time_1900';
$s-time-1900-x: 2704px;
$s-time-1900-y: 1990px;
$s-time-1900-offset-x: -2704px;
$s-time-1900-offset-y: -1990px;
$s-time-1900-width: 409px;
$s-time-1900-height: 123px;
$s-time-1900-total-width: 3222px;
$s-time-1900-total-height: 2537px;
$s-time-1900-image: '../images/sprites.png';
$s-time-1900: (2704px, 1990px, -2704px, -1990px, 409px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_1900', );
$s-time-1900-txt-name: 's-time_1900_txt';
$s-time-1900-txt-x: 1857px;
$s-time-1900-txt-y: 2307px;
$s-time-1900-txt-offset-x: -1857px;
$s-time-1900-txt-offset-y: -2307px;
$s-time-1900-txt-width: 311px;
$s-time-1900-txt-height: 64px;
$s-time-1900-txt-total-width: 3222px;
$s-time-1900-txt-total-height: 2537px;
$s-time-1900-txt-image: '../images/sprites.png';
$s-time-1900-txt: (1857px, 2307px, -1857px, -2307px, 311px, 64px, 3222px, 2537px, '../images/sprites.png', 's-time_1900_txt', );
$s-time-2100-name: 's-time_2100';
$s-time-2100-x: 1733px;
$s-time-2100-y: 1371px;
$s-time-2100-offset-x: -1733px;
$s-time-2100-offset-y: -1371px;
$s-time-2100-width: 401px;
$s-time-2100-height: 123px;
$s-time-2100-total-width: 3222px;
$s-time-2100-total-height: 2537px;
$s-time-2100-image: '../images/sprites.png';
$s-time-2100: (1733px, 1371px, -1733px, -1371px, 401px, 123px, 3222px, 2537px, '../images/sprites.png', 's-time_2100', );
$s-time-2100-txt-name: 's-time_2100_txt';
$s-time-2100-txt-x: 1524px;
$s-time-2100-txt-y: 2307px;
$s-time-2100-txt-offset-x: -1524px;
$s-time-2100-txt-offset-y: -2307px;
$s-time-2100-txt-width: 328px;
$s-time-2100-txt-height: 67px;
$s-time-2100-txt-total-width: 3222px;
$s-time-2100-txt-total-height: 2537px;
$s-time-2100-txt-image: '../images/sprites.png';
$s-time-2100-txt: (1524px, 2307px, -1524px, -2307px, 328px, 67px, 3222px, 2537px, '../images/sprites.png', 's-time_2100_txt', );
$s-title-1030-name: 's-title_1030';
$s-title-1030-x: 1227px;
$s-title-1030-y: 2247px;
$s-title-1030-offset-x: -1227px;
$s-title-1030-offset-y: -2247px;
$s-title-1030-width: 785px;
$s-title-1030-height: 30px;
$s-title-1030-total-width: 3222px;
$s-title-1030-total-height: 2537px;
$s-title-1030-image: '../images/sprites.png';
$s-title-1030: (1227px, 2247px, -1227px, -2247px, 785px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_1030', );
$s-title-1100-name: 's-title_1100';
$s-title-1100-x: 1529px;
$s-title-1100-y: 2061px;
$s-title-1100-offset-x: -1529px;
$s-title-1100-offset-y: -2061px;
$s-title-1100-width: 547px;
$s-title-1100-height: 30px;
$s-title-1100-total-width: 3222px;
$s-title-1100-total-height: 2537px;
$s-title-1100-image: '../images/sprites.png';
$s-title-1100: (1529px, 2061px, -1529px, -2061px, 547px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_1100', );
$s-title-1500-name: 's-title_1500';
$s-title-1500-x: 616px;
$s-title-1500-y: 2061px;
$s-title-1500-offset-x: -616px;
$s-title-1500-offset-y: -2061px;
$s-title-1500-width: 908px;
$s-title-1500-height: 30px;
$s-title-1500-total-width: 3222px;
$s-title-1500-total-height: 2537px;
$s-title-1500-image: '../images/sprites.png';
$s-title-1500: (616px, 2061px, -616px, -2061px, 908px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_1500', );
$s-title-1900-name: 's-title_1900';
$s-title-1900-x: 1227px;
$s-title-1900-y: 2212px;
$s-title-1900-offset-x: -1227px;
$s-title-1900-offset-y: -2212px;
$s-title-1900-width: 901px;
$s-title-1900-height: 30px;
$s-title-1900-total-width: 3222px;
$s-title-1900-total-height: 2537px;
$s-title-1900-image: '../images/sprites.png';
$s-title-1900: (1227px, 2212px, -1227px, -2212px, 901px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_1900', );
$s-title-2100-name: 's-title_2100';
$s-title-2100-x: 457px;
$s-title-2100-y: 1635px;
$s-title-2100-offset-x: -457px;
$s-title-2100-offset-y: -1635px;
$s-title-2100-width: 929px;
$s-title-2100-height: 30px;
$s-title-2100-total-width: 3222px;
$s-title-2100-total-height: 2537px;
$s-title-2100-image: '../images/sprites.png';
$s-title-2100: (457px, 1635px, -457px, -1635px, 929px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_2100', );
$s-title-songdo-name: 's-title_songdo';
$s-title-songdo-x: 1733px;
$s-title-songdo-y: 1627px;
$s-title-songdo-offset-x: -1733px;
$s-title-songdo-offset-y: -1627px;
$s-title-songdo-width: 325px;
$s-title-songdo-height: 30px;
$s-title-songdo-total-width: 3222px;
$s-title-songdo-total-height: 2537px;
$s-title-songdo-image: '../images/sprites.png';
$s-title-songdo: (1733px, 1627px, -1733px, -1627px, 325px, 30px, 3222px, 2537px, '../images/sprites.png', 's-title_songdo', );
$s-txt-menu-name: 's-txt_menu';
$s-txt-menu-x: 3189px;
$s-txt-menu-y: 790px;
$s-txt-menu-offset-x: -3189px;
$s-txt-menu-offset-y: -790px;
$s-txt-menu-width: 25px;
$s-txt-menu-height: 7px;
$s-txt-menu-total-width: 3222px;
$s-txt-menu-total-height: 2537px;
$s-txt-menu-image: '../images/sprites.png';
$s-txt-menu: (3189px, 790px, -3189px, -790px, 25px, 7px, 3222px, 2537px, '../images/sprites.png', 's-txt_menu', );
$spritesheet-width: 3222px;
$spritesheet-height: 2537px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($s-bg-arrow01, $s-btn-close01, $s-btn-nav01, $s-btn-nav01-disabled, $s-btn-nav01-selected, $s-btn-nav02, $s-btn-nav02-disabled, $s-btn-nav02-selected, $s-btn-nav03, $s-btn-nav03-disabled, $s-btn-nav03-selected, $s-btn-nav04, $s-btn-nav04-disabled, $s-btn-nav04-selected, $s-btn-nav05, $s-btn-nav05-disabled, $s-btn-nav05-selected, $s-btn-plus01, $s-event-message01, $s-event-title, $s-event-txt-confirm, $s-event-txt-copy, $s-event-txt-phone, $s-logo01, $s-scene01-moon, $s-scene01-start, $s-scene01-txt01, $s-scene01-txt02, $s-scene01-wally, $s-scene03-bg01, $s-scene03-btn-location, $s-scene03-txt01, $s-scene03-wally, $s-scene04-object01, $s-scene04-wally, $s-scene04-wilma, $s-scene05-odlaw, $s-scene05-wally, $s-scene05-wilma, $s-scene05-woof, $s-scene06-btn-market, $s-scene06-odlaw, $s-scene06-wally, $s-scene06-wizard, $s-scene07-odlaw, $s-scene07-wally, $s-scene07-wilma, $s-scene07-woof, $s-scene08-btn-pub, $s-scene08-parassol01, $s-scene08-parassol02, $s-scene08-wally, $s-scene08-wilma, $s-scene09-people, $s-scene09-txt01, $s-scene09-txt02, $s-scene09-txt03, $s-step01, $s-step01-txt, $s-step02, $s-step02-txt, $s-step03, $s-step03-txt, $s-time-1030, $s-time-1030-txt, $s-time-1100, $s-time-1100-txt, $s-time-1300, $s-time-1300-txt, $s-time-1500, $s-time-1500-txt, $s-time-1700, $s-time-1700-txt, $s-time-1900, $s-time-1900-txt, $s-time-2100, $s-time-2100-txt, $s-title-1030, $s-title-1100, $s-title-1500, $s-title-1900, $s-title-2100, $s-title-songdo, $s-txt-menu, );
$spritesheet: (3222px, 2537px, '../images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
