@import url(slick.css);
@import url(magnific-popup.css);
/**
 * variable
 */
/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1em;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

.o-hidden {
  overflow: hidden !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * import
 */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
/* scene */
.scene {
  display: block;
  position: relative;
  height: 100vh; }
  .scene .title-time {
    display: block;
    position: absolute;
    top: 90px;
    left: 30px;
    text-indent: -9999px;
    opacity: 1; }

/* scene - home */
.scene.home {
  background: #2a2847 url("../images/scene_home/bg_last.png") center center no-repeat;
  background-size: cover;
  /* init */
  /* scroll start */
  /* after motion */ }
  .scene.home > .inner {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    height: 100%;
    width: 1200px;
    background: url("../images/scene_home/bg_constellation.png") center center no-repeat; }
  .scene.home .moon {
    display: block;
    position: absolute;
    top: 7.87037037037%;
    left: 50%;
    margin-left: -158.5px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -689px;
    width: 317px;
    height: 317px;
    opacity: 1; }
  .scene.home .title {
    display: block;
    position: absolute;
    top: 49.814814814815%;
    left: 50%;
    margin-left: -210.5px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -1859px;
    width: 421px;
    height: 126px;
    opacity: 1; }
  .scene.home .description {
    display: block;
    position: absolute;
    top: 67.962962962963%;
    left: 50%;
    margin-left: -158.5px;
    background-image: url(../images/sprites.png);
    background-position: -520px -2418px;
    width: 317px;
    height: 109px;
    opacity: 1; }
  .scene.home .wally {
    display: block;
    position: absolute;
    top: 12.037037037037%;
    left: 50%;
    margin-left: -241.66667px;
    background-image: url(../images/sprites.png);
    background-position: -1733px -1016px;
    width: 435px;
    height: 350px;
    opacity: 1; }
  .scene.home .btn-start {
    display: block;
    position: absolute;
    bottom: 8.148148148148%;
    left: 50%;
    margin-left: -37px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -3074px -1011px;
    width: 74px;
    height: 43px;
    opacity: 1; }
  .scene.home .bg-animation {
    height: 100vh; }
  .scene.home .dark-city {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/01_darkcity.png") center top no-repeat; }
  .scene.home .empirebuilding {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/02_empirebuilding.png") center top no-repeat; }
  .scene.home .cloud-big {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/03_cloud_big.png") center top no-repeat; }
  .scene.home .mountain {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/04_mount.png") center top no-repeat; }
  .scene.home .sea {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #9bc1f8 url("../images/scene_home/05_sea.png") center top no-repeat; }
  .scene.home .day-building {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/06_daybuilding.png") center bottom no-repeat; }
  .scene.home .outlet {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/07_outlet.png") center bottom no-repeat; }

/* scene - arrived outlet */
.scene.arrived {
  overflow: hidden;
  background: #3e5c9b url("../images/scene_arrived/bg_last.jpg") center center no-repeat;
  background-size: cover;
  /* init */ }
  .scene.arrived .title-time {
    background-image: url(../images/sprites.png);
    background-position: -1227px -2212px;
    width: 785px;
    height: 30px; }
  .scene.arrived .btn-location {
    display: block;
    position: absolute;
    top: 166px;
    left: 28px;
    z-index: 1;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1724px -1809px;
    width: 335px;
    height: 134px;
    opacity: 1; }
    .scene.arrived .btn-location:hover {
      -webkit-animation-name: tada;
              animation-name: tada;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
  .scene.arrived .bg01 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -449px;
    background-image: url(../images/sprites.png);
    background-position: -830px 0px;
    width: 898px;
    height: 383px; }
  .scene.arrived .wally {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/sprites.png);
    background-position: -2188px -501px;
    width: 443px;
    height: 518px;
    opacity: 1; }
  .scene.arrived .txt01 {
    display: block;
    position: absolute;
    bottom: 377px;
    left: 253px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -1011px;
    width: 365px;
    height: 219px;
    opacity: 1; }

/* scene - outlet brand */
.scene.brand {
  overflow: hidden;
  background: #8ca6d6 url("../images/scene_brand/bg_last.png") center center no-repeat; }
  .scene.brand .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -1522px -2061px;
    width: 547px;
    height: 30px; }
  .scene.brand .outlet-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -126px;
    margin-left: -524px;
    height: 252px;
    width: 1048px; }
    .scene.brand .outlet-brand .btn {
      display: block;
      position: relative;
      float: left;
      padding: 0 20px;
      height: 252px;
      width: 222px; }
      .scene.brand .outlet-brand .btn:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat; }
      .scene.brand .outlet-brand .btn > span {
        display: block;
        position: absolute;
        text-indent: -9999px;
        background-position: 0 0;
        background-repeat: no-repeat; }
      .scene.brand .outlet-brand .btn.luxury:before {
        background-image: url("../images/scene_brand/menu_box01.png"); }
      .scene.brand .outlet-brand .btn.luxury > span {
        top: 40px;
        left: -18px;
        height: 128px;
        width: 232px;
        background-image: url("../images/scene_brand/menu_object01.png"); }
      .scene.brand .outlet-brand .btn.sport-factory:before {
        background-image: url("../images/scene_brand/menu_box02.png"); }
      .scene.brand .outlet-brand .btn.sport-factory > span {
        top: 110px;
        left: 76px;
        height: 237px;
        width: 217px;
        background-image: url("../images/scene_brand/menu_object02.png"); }
      .scene.brand .outlet-brand .btn.fashion:before {
        background-image: url("../images/scene_brand/menu_box03.png"); }
      .scene.brand .outlet-brand .btn.fashion > span {
        top: -60px;
        left: 88px;
        height: 271px;
        width: 200px;
        background-image: url("../images/scene_brand/menu_object03.png"); }
      .scene.brand .outlet-brand .btn.handsome:before {
        background-image: url("../images/scene_brand/menu_box04.png"); }
      .scene.brand .outlet-brand .btn.handsome > span {
        top: 96px;
        left: 44px;
        height: 197px;
        width: 246px;
        background-image: url("../images/scene_brand/menu_object04.png"); }
  .scene.brand .bag {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -1635px;
    width: 252px;
    height: 219px;
    opacity: 1; }
  .scene.brand .wally {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2704px 0px;
    width: 518px;
    height: 262px;
    opacity: 1; }
  .scene.brand .wilma {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1167px -1681px;
    width: 552px;
    height: 282px;
    opacity: 1; }
  .scene.brand .bg01 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg01.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg02 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg02.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg03 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg03.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg04 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg04.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }

/* scene - launch */
.scene.launch {
  overflow: hidden;
  height: 4230px;
  background-image: url("../images/scene_launch/bg_object.png"), url("../images/scene_launch/bg_last.png");
  background-position: center bottom, center top;
  background-repeat: no-repeat, repeat; }
  .scene.launch .header {
    height: 883px;
    width: 100%;
    text-indent: -9999px;
    background: url("../images/scene_launch/bg_header.png") center top repeat; }
  .scene.launch .contents {
    position: absolute;
    top: 871px;
    left: calc(50% - 600px);
    height: 100%;
    width: 1200px; }
  .scene.launch .object {
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat; }
    .scene.launch .object .object-title {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-position: left top;
      background-repeat: no-repeat; }
    .scene.launch .object .btn-more {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -3111px -852px;
      width: 88px;
      height: 88px; }
    .scene.launch .object.restaurant {
      top: 233px;
      left: calc(50% - 50px);
      height: 540px;
      width: 692px;
      background-image: url("../images/scene_launch/object01.png"); }
      .scene.launch .object.restaurant .object-title {
        top: -220px;
        left: 220px;
        height: 236px;
        width: 243px;
        background-image: url("../images/scene_launch/object_txt01.png"); }
      .scene.launch .object.restaurant .btn-more {
        top: -106px;
        left: 156px; }
    .scene.launch .object.cafeteria {
      top: 851px;
      left: calc(50% - 502px);
      height: 309px;
      width: 713px;
      background-image: url("../images/scene_launch/object02.png"); }
      .scene.launch .object.cafeteria .object-title {
        top: -126px;
        left: 112px;
        height: 106px;
        width: 250px;
        background-image: url("../images/scene_launch/object_txt02.png"); }
      .scene.launch .object.cafeteria .btn-more {
        top: -120px;
        left: 20px; }
    .scene.launch .object.deli {
      top: 1213px;
      left: calc(50% + 110px);
      height: 576px;
      width: 586px;
      background-image: url("../images/scene_launch/object03.png"); }
      .scene.launch .object.deli .object-title {
        top: -110px;
        left: 314px;
        height: 79px;
        width: 133px;
        background-image: url("../images/scene_launch/object_txt03.png"); }
      .scene.launch .object.deli .btn-more {
        top: -120px;
        left: 220px; }
    .scene.launch .object.dessert {
      top: 1670px;
      left: calc(50% - 401px);
      height: 450px;
      width: 392px;
      background-image: url("../images/scene_launch/object04.png"); }
      .scene.launch .object.dessert .object-title {
        top: -106px;
        left: 263px;
        height: 171px;
        width: 198px;
        background-image: url("../images/scene_launch/object_txt04.png"); }
      .scene.launch .object.dessert .btn-more {
        top: -83px;
        left: 202px; }
    .scene.launch .object.star-gallery {
      top: 2312px;
      left: 50%;
      height: 521px;
      width: 594px;
      background-image: url("../images/scene_launch/object05.png"); }
      .scene.launch .object.star-gallery .object-title {
        top: -222px;
        left: 190px;
        height: 160px;
        width: 211px;
        background-image: url("../images/scene_launch/object_txt05.png"); }
      .scene.launch .object.star-gallery .btn-more {
        top: -177px;
        left: 410px; }
    .scene.launch .object.bakery {
      top: 2859px;
      left: calc(50% - 487px);
      height: 395px;
      width: 481px;
      background-image: url("../images/scene_launch/object06.png"); }
      .scene.launch .object.bakery .object-title {
        top: -182px;
        left: 193px;
        height: 162px;
        width: 174px;
        background-image: url("../images/scene_launch/object_txt06.png"); }
      .scene.launch .object.bakery .btn-more {
        top: -192px;
        left: 152px; }
  .scene.launch .wally {
    display: block;
    position: absolute;
    top: 725px;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1074px -466px;
    width: 504px;
    height: 567px;
    pointer-events: none; }
  .scene.launch .wilma {
    display: block;
    position: absolute;
    top: 1535px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: 0px -1681px;
    width: 611px;
    height: 418px;
    pointer-events: none; }
  .scene.launch .woof {
    display: block;
    position: absolute;
    top: 2160px;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -616px -1681px;
    width: 546px;
    height: 375px;
    pointer-events: none; }
  .scene.launch .odlaw {
    display: block;
    position: absolute;
    top: 2620px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -457px -1068px;
    width: 523px;
    height: 518px;
    pointer-events: none; }
  .scene.launch svg#tracesvg {
    position: absolute;
    top: 871px;
    left: calc(50% - 457px); }

/* secen - premium market */
.scene.market {
  overflow: hidden; }
  .scene.market .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -1167px -2003px;
    width: 908px;
    height: 30px; }
  .scene.market .btn-market {
    display: block;
    position: absolute;
    top: 204px;
    left: 42px;
    z-index: 2;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -2118px;
    width: 385px;
    height: 129px;
    opacity: 1; }
    .scene.market .btn-market:hover {
      -webkit-animation-name: tada;
              animation-name: tada;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
  .scene.market .wally {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 570px);
    z-index: 1;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2188px -1024px;
    width: 451px;
    height: 449px;
    opacity: 2; }
  .scene.market .odlaw {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% + 65px);
    z-index: 1;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1733px -594px;
    width: 386px;
    height: 417px;
    opacity: 1; }
  .scene.market .wizard {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 142px);
    z-index: 1;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2704px -267px;
    width: 292px;
    height: 417px;
    opacity: 1; }
  .scene.market .slick-slider {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../images/scene_market/bg01.jpg") center center no-repeat;
    background-size: cover; }
  .scene.market .slick-list, .scene.market .slick-track {
    height: 100%;
    width: 100%; }
  .scene.market .bg01 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg01.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg02 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg02.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg03 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg03.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg04 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg04.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }

/* scene - exzone */
.scene.exzone {
  overflow: hidden;
  height: 4230px;
  background-image: url("../images/scene_exzone/bg_object.png"), url("../images/scene_exzone/bg_last.png");
  background-position: center 1775px, center top;
  background-repeat: no-repeat, repeat; }
  .scene.exzone .header {
    height: 940px;
    width: 100%;
    text-indent: -9999px;
    background: url("../images/scene_exzone/bg_header.png") center top repeat; }
  .scene.exzone .contents {
    position: absolute;
    top: 871px;
    left: calc(50% - 600px);
    height: 100%;
    width: 1200px; }
  .scene.exzone .object {
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat; }
    .scene.exzone .object .object-title {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-position: left top;
      background-repeat: no-repeat; }
    .scene.exzone .object .btn-more {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -3111px -852px;
      width: 88px;
      height: 88px; }
    .scene.exzone .object.it {
      top: 158px;
      left: calc(50% - 475px);
      height: 499px;
      width: 491px;
      background-image: url("../images/scene_exzone/object01.png"); }
      .scene.exzone .object.it .object-title {
        top: -1px;
        left: 479px;
        height: 87px;
        width: 142px;
        background-image: url("../images/scene_exzone/object_txt01.png"); }
      .scene.exzone .object.it .btn-more {
        top: -32px;
        left: 380px; }
    .scene.exzone .object.lns {
      top: 540px;
      left: calc(50% + 148px);
      height: 641px;
      width: 452px;
      background-image: url("../images/scene_exzone/object02.png"); }
      .scene.exzone .object.lns .object-title {
        top: 132px;
        left: -151px;
        height: 148px;
        width: 332px;
        background-image: url("../images/scene_exzone/object_txt02.png"); }
      .scene.exzone .object.lns .btn-more {
        top: 130px;
        left: -190px; }
    .scene.exzone .object.diy {
      top: 1146px;
      left: calc(50% - 556px);
      height: 553px;
      width: 550px;
      background-image: url("../images/scene_exzone/object03.png"); }
      .scene.exzone .object.diy .object-title {
        top: -80px;
        left: 20px;
        height: 90px;
        width: 96px;
        background-image: url("../images/scene_exzone/object_txt03.png"); }
      .scene.exzone .object.diy .btn-more {
        top: -86px;
        left: 134px; }
    .scene.exzone .object.kids {
      top: 1598px;
      left: calc(50% + 166px);
      height: 451px;
      width: 343px;
      background-image: url("../images/scene_exzone/object04.png"); }
      .scene.exzone .object.kids .object-title {
        top: -29px;
        left: 306px;
        height: 81px;
        width: 101px;
        background-image: url("../images/scene_exzone/object_txt04.png"); }
      .scene.exzone .object.kids .btn-more {
        top: -41px;
        left: 210px; }
    .scene.exzone .object.family {
      top: 2020px;
      left: calc(50% - 438px);
      height: 745px;
      width: 600px;
      background-image: url("../images/scene_exzone/object05.png"); }
      .scene.exzone .object.family .object-title {
        top: 33px;
        left: -42px;
        height: 79px;
        width: 174px;
        background-image: url("../images/scene_exzone/object_txt05.png"); }
      .scene.exzone .object.family .btn-more {
        top: 34px;
        left: 160px; }
    .scene.exzone .object.bookstore {
      top: 2824px;
      left: calc(50% - 447px);
      height: 476px;
      width: 1050px;
      background-image: url("../images/scene_exzone/object06.png"); }
      .scene.exzone .object.bookstore .object-title {
        top: -188px;
        left: 447px;
        height: 141px;
        width: 272px;
        background-image: url("../images/scene_exzone/object_txt06.png"); }
      .scene.exzone .object.bookstore .btn-more {
        top: -151px;
        left: 742px; }
  .scene.exzone .wally {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1733px 0px;
    width: 450px;
    height: 589px;
    pointer-events: none; }
  .scene.exzone .wilma {
    display: block;
    position: absolute;
    top: 1512px;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2188px -1478px;
    width: 465px;
    height: 416px;
    pointer-events: none; }
  .scene.exzone .woof {
    display: block;
    position: absolute;
    top: 2683px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: 0px -1068px;
    width: 452px;
    height: 608px;
    pointer-events: none; }
  .scene.exzone .odlaw {
    display: block;
    position: absolute;
    top: 1040px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: 0px -466px;
    width: 539px;
    height: 597px;
    pointer-events: none; }
  .scene.exzone svg#dashsvg {
    position: absolute;
    top: 862px;
    left: calc(50% - 460px); }

/* secen - garden terrace */
.scene.garden .title-time {
  z-index: 1;
  background-image: url(../images/sprites.png);
  background-position: -616px -2061px;
  width: 901px;
  height: 30px; }
.scene.garden .btn-pub {
  display: block;
  position: absolute;
  top: 204px;
  left: 42px;
  z-index: 2;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: -2704px -1235px;
  width: 461px;
  height: 167px;
  opacity: 1; }
  .scene.garden .btn-pub:hover {
    -webkit-animation-name: tada;
            animation-name: tada;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
.scene.garden .wilma {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 516px);
  z-index: 1;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: -2188px 0px;
  width: 511px;
  height: 496px;
  opacity: 1; }
.scene.garden .wally {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% + 20px);
  z-index: 1;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: -985px -1068px;
  width: 519px;
  height: 501px;
  opacity: 1; }
.scene.garden .parassol01 {
  display: block;
  position: absolute;
  top: -300px;
  left: calc(50% + 59px);
  z-index: 1;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: -544px -466px;
  width: 525px;
  height: 576px; }
.scene.garden .parassol02 {
  display: block;
  position: absolute;
  top: -105px;
  left: calc(50% + 390px);
  z-index: 1;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: 0px -2104px;
  width: 515px;
  height: 433px; }
.scene.garden .slick-slider {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("../images/scene_garden/bg01.jpg") center center no-repeat;
  background-size: cover; }
.scene.garden .slick-list, .scene.garden .slick-track {
  height: 100%;
  width: 100%; }
.scene.garden .bg01 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg01.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }
.scene.garden .bg02 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg02.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }
.scene.garden .bg03 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg03.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }

/* scene9 - ending */
.scene.ending {
  overflow: hidden;
  background: url("../images/scene_ending/bg_last.jpg") center bottom no-repeat;
  background-size: cover; }
  .scene.ending .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -1167px -1968px;
    width: 929px;
    height: 30px; }
  .scene.ending .people {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 65px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: 0px 0px;
    width: 825px;
    height: 461px;
    opacity: 1; }
    .scene.ending .people .txt01 {
      display: block;
      position: absolute;
      top: -90px;
      left: 300px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -3001px -267px;
      width: 212px;
      height: 175px;
      opacity: 1; }
    .scene.ending .people .txt02 {
      display: block;
      position: absolute;
      top: -67px;
      left: 100px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2961px -1635px;
      width: 225px;
      height: 172px;
      opacity: 1; }
    .scene.ending .people .txt03 {
      display: block;
      position: absolute;
      top: -130px;
      left: 706px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2704px -1407px;
      width: 320px;
      height: 223px;
      opacity: 1; }

/* event */
.event {
  overflow: auto;
  padding: 0;
  min-width: 1200px; }
  .event legend {
    display: block;
    position: static;
    height: auto;
    width: auto;
    font-size: 1em;
    text-indent: -9999px;
    visibility: visible; }
  .event .summary {
    min-width: 1200px;
    background: #2a2847 url("../images/event/bg_summary.jpg") center bottom no-repeat; }
    .event .summary .inner {
      margin: 0 auto;
      height: 1449px;
      width: 1200px;
      background: url("../images/event/summary.png") center 110px no-repeat; }
      .event .summary .inner h1, .event .summary .inner p, .event .summary .inner dl {
        display: none; }
  .event .event-container {
    display: block;
    padding: 58px 60px 0 60px;
    min-width: 1080px;
    border-top: 14px solid #413e71;
    background: url("../images/event/event_bottom_pattern.gif") center top repeat;
    /* step01 */
    /* step02 */ }
    .event .event-container > legend {
      margin: 0 auto;
      background-image: url(../images/sprites.png);
      background-position: -520px -2104px;
      width: 702px;
      height: 198px; }
    .event .event-container > .step {
      box-sizing: border-box;
      margin: 60px auto 0 auto;
      max-width: 1080px;
      width: 100%;
      border: 6px solid #2a2847;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 11px 11px 0 0 rgba(0, 0, 0, 0.15); }
    .event .event-container .step01 > legend {
      height: 158px;
      width: 100%;
      border-bottom: 6px solid #2a2847;
      background-color: #fff; }
      .event .event-container .step01 > legend:before {
        content: '';
        display: block;
        float: left;
        height: 158px;
        width: 158px;
        border-right: 6px solid #2a2847;
        background-image: url(../images/sprites.png);
        background-position: -3001px -447px;
        width: 158px;
        height: 158px;
        background-color: #ffef87; }
      .event .event-container .step01 > legend .txt {
        display: block;
        float: left;
        margin: 31px 0 0 37px;
        text-indent: -9999px;
        background-image: url(../images/sprites.png);
        background-position: -1227px -2104px;
        width: 792px;
        height: 103px; }
    .event .event-container .step01 .select-radio {
      overflow: hidden;
      padding: 56px 0 80px 0; }
    .event .event-container .step01 .iradio + label {
      cursor: pointer;
      display: block;
      float: left;
      text-indent: -9999px;
      background-position: left top;
      background-repeat: no-repeat; }
      .event .event-container .step01 .iradio + label.radio-spot01 {
        margin-left: 62px;
        height: 449px;
        width: 461px;
        background-image: url("../images/event/radio_spot01.png");
        background-position: 0px 14px; }
      .event .event-container .step01 .iradio + label.radio-spot02 {
        margin-left: 76px;
        height: 449px;
        width: 401px;
        background-image: url("../images/event/radio_spot02.png"); }
      .event .event-container .step01 .iradio + label.radio-spot03 {
        margin-top: 43px;
        margin-left: 62px;
        height: 451px;
        width: 461px;
        background-image: url("../images/event/radio_spot03.png");
        background-position: 100% 0; }
      .event .event-container .step01 .iradio + label.radio-spot04 {
        margin-top: 43px;
        margin-left: 76px;
        height: 450px;
        width: 401px;
        background-image: url("../images/event/radio_spot04.png");
        background-position: 100% 13px; }
    .event .event-container .step01 .iradio.checked + .radio-spot01 {
      background-image: url("../images/event/radio_spot01_selected.png"); }
    .event .event-container .step01 .iradio.checked + .radio-spot02 {
      background-image: url("../images/event/radio_spot02_selected.png"); }
    .event .event-container .step01 .iradio.checked + .radio-spot03 {
      background-image: url("../images/event/radio_spot03_selected.png"); }
    .event .event-container .step01 .iradio.checked + .radio-spot04 {
      background-image: url("../images/event/radio_spot04_selected.png"); }
    .event .event-container .step02 {
      padding-bottom: 58px;
      background-color: #ddd; }
      .event .event-container .step02 > legend {
        height: 158px;
        width: 100%;
        border-top: 6px solid #2a2847;
        border-bottom: 6px solid #2a2847;
        background-color: #fff; }
        .event .event-container .step02 > legend:before {
          content: '';
          display: block;
          float: left;
          height: 158px;
          width: 158px;
          border-right: 6px solid #2a2847;
          background-image: url(../images/sprites.png);
          background-position: -3026px -689px;
          width: 158px;
          height: 158px;
          background-color: #ffef87; }
        .event .event-container .step02 > legend .txt {
          display: block;
          float: left;
          margin: 31px 0 0 37px;
          text-indent: -9999px;
          background-image: url(../images/sprites.png);
          background-position: -520px -2307px;
          width: 664px;
          height: 106px; }
      .event .event-container .step02 .mobile-message {
        display: block;
        margin: 68px auto 0 auto;
        text-indent: -9999px;
        background-image: url(../images/sprites.png);
        background-position: -830px -388px;
        width: 879px;
        height: 39px; }
      .event .event-container .step02 .copy-contents {
        display: block;
        box-sizing: border-box;
        margin: 32px 47px 0 47px;
        padding: 56px 0 0 42px;
        height: 382px;
        width: 974px;
        font-size: 28px;
        color: #2a2847;
        line-height: 40px;
        border: 6px dashed #2a2847;
        background-color: #fff; }
        .event .event-container .step02 .copy-contents a {
          color: #2a2847;
          text-decoration: underline; }
      .event .event-container .step02 .btn-copy {
        display: block;
        margin: -61px auto 0 auto;
        height: 114px;
        width: 360px;
        border-radius: 10px;
        background-color: #2a2847; }
        .event .event-container .step02 .btn-copy .txt {
          display: block;
          margin: 0 auto;
          text-indent: -9999px;
          background-image: url(../images/sprites.png);
          background-position: -3001px -610px;
          width: 166px;
          height: 45px; }
    .event .event-container .btn-share {
      display: block;
      margin: 80px auto 0 auto;
      height: 167px;
      width: 1061px;
      border: 6px solid #2a2847;
      border-radius: 64px;
      text-indent: -9999px;
      background: #ffef87 url("../images/event/btn_share.png") center center no-repeat;
      box-shadow: 11px 11px 0 0 rgba(0, 0, 0, 0.15); }

html {
  box-sizing: border-box;
  height: 101%; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 50px; }

button:focus {
  outline: 0; }

/* menus dimmed */
.dimmed {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 899;
  background-color: rgba(0, 0, 0, 0.5); }

/* time layer */
.time-layer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(43, 49, 110, 0.8);
  opacity: 0; }
  .time-layer .time {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -129px;
    width: 100%;
    text-indent: -9999px; }
    .time-layer .time > .now {
      display: block;
      margin: 0 auto;
      opacity: 0; }
    .time-layer .time > .now-txt {
      display: block;
      margin: 50px auto 0 auto;
      opacity: 0; }
    .time-layer .time.time01 > .now {
      background-image: url(../images/sprites.png);
      background-position: -2188px -1899px;
      width: 402px;
      height: 123px; }
    .time-layer .time.time01 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -2024px -2104px;
      width: 397px;
      height: 67px; }
    .time-layer .time.time02 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1724px -1681px;
      width: 383px;
      height: 123px; }
    .time-layer .time.time02 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -2188px -2027px;
      width: 454px;
      height: 67px; }
    .time-layer .time.time03 > .now {
      background-image: url(../images/sprites.png);
      background-position: -2704px -2380px;
      width: 402px;
      height: 123px; }
    .time-layer .time.time03 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -457px -1591px;
      width: 514px;
      height: 66px; }
    .time-layer .time.time04 > .now {
      background-image: url(../images/sprites.png);
      background-position: -2704px -2252px;
      width: 403px;
      height: 123px; }
    .time-layer .time.time04 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -976px -1591px;
      width: 373px;
      height: 65px; }
    .time-layer .time.time05 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1733px -1499px;
      width: 398px;
      height: 123px; }
    .time-layer .time.time05 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1189px -2307px;
      width: 330px;
      height: 67px; }
    .time-layer .time.time06 > .now {
      background-image: url(../images/sprites.png);
      background-position: -2704px -1990px;
      width: 409px;
      height: 123px; }
    .time-layer .time.time06 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1354px -1591px;
      width: 311px;
      height: 64px; }
    .time-layer .time.time07 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1733px -1371px;
      width: 401px;
      height: 123px; }
    .time-layer .time.time07 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1524px -2307px;
      width: 328px;
      height: 67px; }

/* memus */
.menus {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 900;
  width: 50px;
  background-color: #fff; }
  .menus span.txt-menu {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    right: 12px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -3195px -634px;
    width: 25px;
    height: 7px; }
  .menus .title-area {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px; }
    .menus .title-area .sondgo {
      display: block;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -1733px -1627px;
      width: 325px;
      height: 30px; }
  .menus .btn-toggle-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 7px;
    padding: 8px 6px 12px 6px;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 3.42857px; }
    .menus .btn-toggle-menu:hover {
      opacity: 1; }
    .menus .btn-toggle-menu:active {
      transition: 0;
      background-color: rgba(0, 0, 0, 0.1); }
    .menus .btn-toggle-menu .lines {
      display: inline-block;
      height: 3px;
      width: 24px;
      background-color: #000;
      transition: 0.3s;
      position: relative; }
      .menus .btn-toggle-menu .lines:before, .menus .btn-toggle-menu .lines:after {
        content: '';
        position: absolute;
        left: 0;
        -webkit-transform-origin: 1.71429px center;
            -ms-transform-origin: 1.71429px center;
                transform-origin: 1.71429px center;
        display: inline-block;
        height: 3px;
        width: 24px;
        background-color: #000;
        transition: 0.3s; }
      .menus .btn-toggle-menu .lines:before {
        top: 8px; }
      .menus .btn-toggle-menu .lines:after {
        top: -8px; }
    .menus .btn-toggle-menu.is-selected .lines {
      background-color: transparent; }
      .menus .btn-toggle-menu.is-selected .lines:before, .menus .btn-toggle-menu.is-selected .lines:after {
        top: 0;
        width: 24px;
        -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%; }
      .menus .btn-toggle-menu.is-selected .lines:before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg); }
      .menus .btn-toggle-menu.is-selected .lines:after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg); }
  .menus .open-menus {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 26px;
    height: 100%; }
    .menus .open-menus .logo {
      display: block;
      margin: 58px auto 0 auto;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -3026px -852px;
      width: 80px;
      height: 107px; }
    .menus .open-menus .list-menus {
      margin-top: 38px;
      /*
      			&.is-hover {
      				a {
      					&.btn-home { @include sprite($s-btn-nav01-disabled); }
      					&.btn-location { @include sprite($s-btn-nav02-disabled); }
      					&.btn-floor { @include sprite($s-btn-nav03-disabled); }
      					&.btn-membership { @include sprite($s-btn-nav04-disabled); }
      					&.btn-coupon { @include sprite($s-btn-nav05-disabled); }
      				}
      			}
      */ }
      .menus .open-menus .list-menus > li {
        padding: 15px 0; }
        .menus .open-menus .list-menus > li a {
          display: block;
          position: relative;
          margin: 0 auto;
          text-indent: -9999px; }
          .menus .open-menus .list-menus > li a:hover:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -8px;
            right: -4px;
            left: -4px;
            height: 3px;
            background-color: #000; }
          .menus .open-menus .list-menus > li a.btn-home {
            background-image: url(../images/sprites.png);
            background-position: -3172px -634px;
            width: 18px;
            height: 19px; }
          .menus .open-menus .list-menus > li a.btn-location {
            background-image: url(../images/sprites.png);
            background-position: -3151px -660px;
            width: 70px;
            height: 19px; }
          .menus .open-menus .list-menus > li a.btn-floor {
            background-image: url(../images/sprites.png);
            background-position: -3001px -660px;
            width: 70px;
            height: 19px; }
          .menus .open-menus .list-menus > li a.btn-membership {
            background-image: url(../images/sprites.png);
            background-position: -3164px -552px;
            width: 51px;
            height: 19px; }
          .menus .open-menus .list-menus > li a.btn-coupon {
            background-image: url(../images/sprites.png);
            background-position: -3164px -576px;
            width: 53px;
            height: 18px; }
    .menus .open-menus .banners a {
      display: block;
      margin-top: 20px;
      height: 135px;
      width: 183px;
      background-color: #0f0; }
  .menus .list-indicators {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -179px;
    margin-left: -15px;
    width: 30px; }
    .menus .list-indicators > li {
      margin: 3px 0;
      height: 24px;
      width: 100%; }
      .menus .list-indicators > li.long {
        height: 70px; }
      .menus .list-indicators > li.is-selected > a:before {
        content: '  ';
        background-color: #000; }
      .menus .list-indicators > li.is-selected > a span {
        display: block;
        opacity: 1; }
      .menus .list-indicators > li > a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%; }
        .menus .list-indicators > li > a:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -2px;
          width: 4px;
          background-color: #9a9a9a; }
        .menus .list-indicators > li > a:hover:before {
          content: ' ';
          background-color: #000; }
        .menus .list-indicators > li > a:hover span {
          display: block;
          z-index: 1;
          opacity: 1; }
        .menus .list-indicators > li > a span {
          pointer-events: none;
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: -15px;
          left: -195px;
          padding-left: 20px;
          height: 48px;
          width: 184px;
          font-size: 14px;
          color: #fff;
          line-height: 48px;
          text-decoration: none;
          background-color: #000;
          opacity: 0;
          transition: opacity 0.3s ease-in; }
          .menus .list-indicators > li > a span:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: -12px;
            margin-top: -12px;
            background-image: url(../images/sprites.png);
            background-position: -3189px -689px;
            width: 12px;
            height: 24px; }
          .menus .list-indicators > li > a span time {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 22px;
            line-height: 48px; }

/* popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 100px;
  background-color: #fff; }
  .popup .btn-close {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer !important;
    text-align: left;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -3164px -447px;
    width: 52px;
    height: 52px; }
  .popup p {
    display: block;
    max-width: 900px;
    width: 100%;
    margin: 0 auto; }
    .popup p img {
      width: 100%; }
