@import url(slick.css);
@import url(magnific-popup.css);
/**
 * variable
 */
/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1em;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * import
 */
/* scene */
.scene {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 100vh; }
  .scene .title-time {
    display: block;
    position: absolute;
    top: 90px;
    left: 30px;
    text-indent: -9999px;
    opacity: 1; }

/* scene - home */
.scene.home {
  background: #2a2847 url("../images/scene_home/bg_last.png") center center no-repeat;
  background-size: cover;
  /* init */
  /* scroll start */
  /* after motion */ }
  .scene.home > .inner {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    height: 100%;
    width: 1200px;
    background: url("../images/scene_home/bg_constellation.png") center center no-repeat; }
  .scene.home .moon {
    display: block;
    position: absolute;
    top: 7.87037037037%;
    left: 50%;
    margin-left: -158.5px;
    background-image: url(../images/sprites.png);
    background-position: -2249px -777px;
    width: 317px;
    height: 317px; }
  .scene.home .title {
    display: block;
    position: absolute;
    top: 49.814814814815%;
    left: 50%;
    margin-left: -210.5px;
    background-image: url(../images/sprites.png);
    background-position: -2249px -1800px;
    width: 421px;
    height: 126px; }
  .scene.home .description {
    display: block;
    position: absolute;
    top: 67.962962962963%;
    left: 50%;
    margin-left: -158.5px;
    background-image: url(../images/sprites.png);
    background-position: -217px -2163px;
    width: 317px;
    height: 109px; }
  .scene.home .wally {
    display: block;
    position: absolute;
    top: 12.037037037037%;
    left: 50%;
    margin-left: -241.66667px;
    background-image: url(../images/sprites.png);
    background-position: -2249px 0px;
    width: 435px;
    height: 350px; }
  .scene.home .btn-start {
    display: block;
    position: absolute;
    bottom: 8.148148148148%;
    left: 50%;
    margin-left: -37px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2546px -560px;
    width: 74px;
    height: 43px; }
  .scene.home .bg-animation {
    height: 100vh; }
  .scene.home .dark-city {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/01_darkcity.png") center top no-repeat; }
  .scene.home .empirebuilding {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/02_empirebuilding.png") center top no-repeat; }
  .scene.home .cloud-big {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/03_cloud_big.png") center top no-repeat; }
  .scene.home .mountain {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/04_mount.png") center top no-repeat; }
  .scene.home .sea {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #9bc1f8 url("../images/scene_home/05_sea.png") center top no-repeat; }
  .scene.home .day-building {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/06_daybuilding.png") center bottom no-repeat; }
  .scene.home .outlet {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url("../images/scene_home/07_outlet.png") center bottom no-repeat; }

/* scene - arrived outlet */
.scene.arrived {
  overflow: hidden;
  background: #3e5c9b url("../images/scene_arrived/bg_last.jpg") center center no-repeat;
  background-size: cover;
  /* init */ }
  .scene.arrived .title-time {
    background-image: url(../images/sprites.png);
    background-position: -830px -396px;
    width: 785px;
    height: 30px; }
  .scene.arrived .btn-location {
    display: block;
    position: absolute;
    top: 166px;
    left: 28px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -921px -1991px;
    width: 335px;
    height: 134px;
    opacity: 1; }
  .scene.arrived .bg01 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -449px;
    background-image: url(../images/sprites.png);
    background-position: -830px 0px;
    width: 898px;
    height: 391px; }
  .scene.arrived .wally {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/sprites.png);
    background-position: -1733px -501px;
    width: 443px;
    height: 518px;
    opacity: 1; }
  .scene.arrived .txt01 {
    display: block;
    position: absolute;
    bottom: 377px;
    left: 253px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2249px -1352px;
    width: 365px;
    height: 219px;
    opacity: 1; }

/* scene - outlet brand */
.scene.brand {
  overflow: hidden;
  background: #8ca6d6 url("../images/scene_brand/bg_last.png") center center no-repeat; }
  .scene.brand .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -830px -431px;
    width: 652px;
    height: 30px; }
  .scene.brand .outlet-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -126px;
    margin-left: -524px;
    height: 252px;
    width: 1048px; }
    .scene.brand .outlet-brand .btn {
      display: block;
      position: relative;
      float: left;
      padding: 0 20px;
      height: 252px;
      width: 222px; }
      .scene.brand .outlet-brand .btn:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat; }
      .scene.brand .outlet-brand .btn > span {
        display: block;
        position: absolute;
        text-indent: -9999px;
        background-position: 0 0;
        background-repeat: no-repeat; }
      .scene.brand .outlet-brand .btn.luxury:before {
        background-image: url("../images/scene_brand/menu_box01.png"); }
      .scene.brand .outlet-brand .btn.luxury > span {
        top: 36px;
        left: -31px;
        height: 128px;
        width: 232px;
        background-image: url("../images/scene_brand/menu_object01.png"); }
      .scene.brand .outlet-brand .btn.sport-factory:before {
        background-image: url("../images/scene_brand/menu_box02.png"); }
      .scene.brand .outlet-brand .btn.sport-factory > span {
        top: 100px;
        left: 52px;
        height: 237px;
        width: 217px;
        background-image: url("../images/scene_brand/menu_object02.png"); }
      .scene.brand .outlet-brand .btn.fashion:before {
        background-image: url("../images/scene_brand/menu_box03.png"); }
      .scene.brand .outlet-brand .btn.fashion > span {
        top: -69px;
        left: 68px;
        height: 271px;
        width: 200px;
        background-image: url("../images/scene_brand/menu_object03.png"); }
      .scene.brand .outlet-brand .btn.handsome:before {
        background-image: url("../images/scene_brand/menu_box04.png"); }
      .scene.brand .outlet-brand .btn.handsome > span {
        top: 80px;
        left: 24px;
        height: 197px;
        width: 246px;
        background-image: url("../images/scene_brand/menu_object04.png"); }
  .scene.brand .bag {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2249px -1576px;
    width: 252px;
    height: 219px;
    opacity: 1; }
  .scene.brand .wally {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1468px -1553px;
    width: 518px;
    height: 262px;
    opacity: 1; }
  .scene.brand .wilma {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -911px -1553px;
    width: 552px;
    height: 282px;
    opacity: 1; }
  .scene.brand .bg01 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg01.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg02 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg02.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg03 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg03.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }
  .scene.brand .bg04 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url("../images/scene_brand/menu_bg04.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0; }

/* scene - launch */
.scene.launch {
  overflow: hidden;
  height: 4230px;
  background-image: url("../images/scene_launch/bg_object.png"), url("../images/scene_launch/bg_last.png");
  background-position: center bottom, center top;
  background-repeat: no-repeat, repeat; }
  .scene.launch .header {
    height: 883px;
    width: 100%;
    text-indent: -9999px;
    background: url("../images/scene_launch/bg_header.png") center top repeat; }
  .scene.launch .contents {
    position: absolute;
    top: 871px;
    left: calc(50% - 600px);
    height: 100%;
    width: 1200px; }
  .scene.launch .object {
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat; }
    .scene.launch .object .object-title {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-position: left top;
      background-repeat: no-repeat; }
    .scene.launch .object .btn-more {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2546px -467px;
      width: 88px;
      height: 88px; }
    .scene.launch .object.restaurant {
      top: 233px;
      left: calc(50% - 50px);
      height: 540px;
      width: 692px;
      background-image: url("../images/scene_launch/object01.png"); }
      .scene.launch .object.restaurant .object-title {
        top: -220px;
        left: 220px;
        height: 236px;
        width: 243px;
        background-image: url("../images/scene_launch/object_txt01.png"); }
      .scene.launch .object.restaurant .btn-more {
        top: -106px;
        left: 156px; }
    .scene.launch .object.cafeteria {
      top: 851px;
      left: calc(50% - 502px);
      height: 309px;
      width: 713px;
      background-image: url("../images/scene_launch/object02.png"); }
      .scene.launch .object.cafeteria .object-title {
        top: -126px;
        left: 112px;
        height: 106px;
        width: 250px;
        background-image: url("../images/scene_launch/object_txt02.png"); }
      .scene.launch .object.cafeteria .btn-more {
        top: -120px;
        left: 20px; }
    .scene.launch .object.deli {
      top: 1213px;
      left: calc(50% + 110px);
      height: 576px;
      width: 586px;
      background-image: url("../images/scene_launch/object03.png"); }
      .scene.launch .object.deli .object-title {
        top: -110px;
        left: 314px;
        height: 79px;
        width: 133px;
        background-image: url("../images/scene_launch/object_txt03.png"); }
      .scene.launch .object.deli .btn-more {
        top: -120px;
        left: 220px; }
    .scene.launch .object.dessert {
      top: 1670px;
      left: calc(50% - 401px);
      height: 450px;
      width: 392px;
      background-image: url("../images/scene_launch/object04.png"); }
      .scene.launch .object.dessert .object-title {
        top: -106px;
        left: 263px;
        height: 171px;
        width: 198px;
        background-image: url("../images/scene_launch/object_txt04.png"); }
      .scene.launch .object.dessert .btn-more {
        top: -83px;
        left: 202px; }
    .scene.launch .object.star-gallery {
      top: 2312px;
      left: 50%;
      height: 521px;
      width: 594px;
      background-image: url("../images/scene_launch/object05.png"); }
      .scene.launch .object.star-gallery .object-title {
        top: -222px;
        left: 190px;
        height: 160px;
        width: 211px;
        background-image: url("../images/scene_launch/object_txt05.png"); }
      .scene.launch .object.star-gallery .btn-more {
        top: -177px;
        left: 410px; }
    .scene.launch .object.bakery {
      top: 2859px;
      left: calc(50% - 487px);
      height: 395px;
      width: 481px;
      background-image: url("../images/scene_launch/object06.png"); }
      .scene.launch .object.bakery .object-title {
        top: -182px;
        left: 193px;
        height: 162px;
        width: 174px;
        background-image: url("../images/scene_launch/object_txt06.png"); }
      .scene.launch .object.bakery .btn-more {
        top: -192px;
        left: 152px; }
  .scene.launch .wally {
    display: block;
    position: absolute;
    top: 725px;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -530px -466px;
    width: 504px;
    height: 567px;
    pointer-events: none; }
  .scene.launch .wilma {
    display: block;
    position: absolute;
    top: 1535px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -515px -1047px;
    width: 611px;
    height: 418px;
    pointer-events: none; }
  .scene.launch .woof {
    display: block;
    position: absolute;
    top: 2160px;
    left: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1131px -1047px;
    width: 546px;
    height: 375px;
    pointer-events: none; }
  .scene.launch .odlaw {
    display: block;
    position: absolute;
    top: 2620px;
    right: 0;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1039px -466px;
    width: 523px;
    height: 518px;
    pointer-events: none; }
  .scene.launch svg#tracesvg {
    position: absolute;
    top: 871px;
    left: calc(50% - 457px); }

/* secen - premium market */
.scene.market {
  overflow: hidden; }
  .scene.market .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -515px -1505px;
    width: 908px;
    height: 30px; }
  .scene.market .btn-market {
    display: block;
    position: absolute;
    top: 204px;
    left: 42px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -911px -1840px;
    width: 445px;
    height: 129px;
    opacity: 1; }
  .scene.market .wally {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 570px);
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -1733px -1024px;
    width: 451px;
    height: 449px;
    opacity: 1; }
  .scene.market .odlaw {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% + 65px);
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -520px -1553px;
    width: 386px;
    height: 417px;
    opacity: 1; }
  .scene.market .wizard {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 142px);
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: -2249px -355px;
    width: 292px;
    height: 417px;
    opacity: 1; }
  .scene.market .slick-slider {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000; }
  .scene.market .slick-list, .scene.market .slick-track {
    height: 100%;
    width: 100%; }
  .scene.market .bg01 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg01.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg02 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg02.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg03 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg03.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }
  .scene.market .bg04 {
    display: block;
    height: 100%;
    width: 100%;
    background: url("../images/scene_market/bg04.jpg") center center no-repeat;
    background-size: cover;
    opacity: 1; }

/* scene - exzone */
.scene.exzone {
  overflow: hidden;
  height: 4230px;
  background-image: url("../images/scene_exzone/bg_last.jpg");
  background-position: center top;
  background-repeat: no-repeat; }
  .scene.exzone svg#exzonesvg {
    position: absolute;
    top: 871px;
    left: calc(50% - 457px); }

/* secen - garden terrace */
.scene.garden .title-time {
  z-index: 1;
  background-image: url(../images/sprites.png);
  background-position: -1780px -1991px;
  width: 901px;
  height: 30px; }
.scene.garden .btn-pub {
  display: block;
  position: absolute;
  top: 204px;
  left: 42px;
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: 0px -1991px;
  width: 461px;
  height: 167px;
  opacity: 1; }
.scene.garden .wilma {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 516px);
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: -1733px 0px;
  width: 511px;
  height: 496px;
  opacity: 1; }
.scene.garden .wally {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% + 20px);
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: 0px -1047px;
  width: 510px;
  height: 501px;
  opacity: 1; }
.scene.garden .parassol01 {
  display: block;
  position: absolute;
  top: -300px;
  left: calc(50% + 59px);
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: 0px -466px;
  width: 525px;
  height: 576px; }
.scene.garden .parassol02 {
  display: block;
  position: absolute;
  top: -105px;
  left: calc(50% + 390px);
  text-indent: -9999px;
  background-image: url(../images/sprites.png);
  background-position: 0px -1553px;
  width: 515px;
  height: 433px; }
.scene.garden .slick-slider {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000; }
.scene.garden .slick-list, .scene.garden .slick-track {
  height: 100%;
  width: 100%; }
.scene.garden .bg01 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg01.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }
.scene.garden .bg02 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg02.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }
.scene.garden .bg03 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/scene_garden/bg03.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }

/* scene9 - ending */
.scene.ending {
  overflow: hidden;
  background: url("../images/scene_ending/bg_last.jpg") center bottom no-repeat; }
  .scene.ending .title-time {
    z-index: 1;
    background-image: url(../images/sprites.png);
    background-position: -515px -1470px;
    width: 1096px;
    height: 30px; }
  .scene.ending .people {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 65px;
    text-indent: -9999px;
    background-image: url(../images/sprites.png);
    background-position: 0px 0px;
    width: 825px;
    height: 461px;
    opacity: 1; }
    .scene.ending .people .txt01 {
      display: block;
      position: absolute;
      top: -90px;
      left: 300px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: 0px -2163px;
      width: 212px;
      height: 175px;
      opacity: 1; }
    .scene.ending .people .txt02 {
      display: block;
      position: absolute;
      top: -67px;
      left: 100px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -1991px -1553px;
      width: 225px;
      height: 172px;
      opacity: 1; }
    .scene.ending .people .txt03 {
      display: block;
      position: absolute;
      top: -159px;
      left: 706px;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2249px -1099px;
      width: 356px;
      height: 248px;
      opacity: 1; }

html {
  box-sizing: border-box;
  height: 101%; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 50px; }

/* menus dimmed */
.dimmed {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 899;
  background-color: rgba(0, 0, 0, 0.5); }

/* time layer */
.time-layer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(14, 19, 55, 0.8);
  opacity: 0; }
  .time-layer .time {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -129px;
    width: 100%;
    text-indent: -9999px; }
    .time-layer .time > .now {
      display: block;
      margin: 0 auto;
      opacity: 0; }
    .time-layer .time > .now-txt {
      display: block;
      margin: 50px auto 0 auto;
      opacity: 0; }
    .time-layer .time.time01 > .now {
      background-image: url(../images/sprites.png);
      background-position: -466px -1991px;
      width: 450px;
      height: 139px; }
    .time-layer .time.time01 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -539px -2163px;
      width: 443px;
      height: 71px; }
    .time-layer .time.time02 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1768px -1840px;
      width: 383px;
      height: 123px; }
    .time-layer .time.time02 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1733px -1478px;
      width: 454px;
      height: 67px; }
    .time-layer .time.time03 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1361px -1840px;
      width: 402px;
      height: 123px; }
    .time-layer .time.time03 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1261px -1991px;
      width: 514px;
      height: 66px; }
    .time-layer .time.time05 > .now {
      background-image: url(../images/sprites.png);
      background-position: -1768px -1840px;
      width: 383px;
      height: 123px; }
    .time-layer .time.time05 > .now-txt {
      background-image: url(../images/sprites.png);
      background-position: -1733px -1478px;
      width: 454px;
      height: 67px; }

/* memus */
.menus {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 900;
  width: 50px;
  background-color: #fff; }
  .menus .title-area {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px; }
    .menus .title-area .sondgo {
      display: block;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2249px -1931px;
      width: 325px;
      height: 30px; }
  .menus .btn-toggle-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 7px;
    padding: 8px 6px 12px 6px;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 3.42857px; }
    .menus .btn-toggle-menu:hover {
      opacity: 1; }
    .menus .btn-toggle-menu:active {
      transition: 0;
      background-color: rgba(0, 0, 0, 0.1); }
    .menus .btn-toggle-menu .lines {
      display: inline-block;
      height: 3px;
      width: 24px;
      background-color: #000;
      transition: 0.3s;
      position: relative; }
      .menus .btn-toggle-menu .lines:before, .menus .btn-toggle-menu .lines:after {
        content: '';
        position: absolute;
        left: 0;
        -webkit-transform-origin: 1.71429px center;
            -ms-transform-origin: 1.71429px center;
                transform-origin: 1.71429px center;
        display: inline-block;
        height: 3px;
        width: 24px;
        background-color: #000;
        transition: 0.3s; }
      .menus .btn-toggle-menu .lines:before {
        top: 8px; }
      .menus .btn-toggle-menu .lines:after {
        top: -8px; }
    .menus .btn-toggle-menu.is-selected .lines {
      background-color: transparent; }
      .menus .btn-toggle-menu.is-selected .lines:before, .menus .btn-toggle-menu.is-selected .lines:after {
        top: 0;
        width: 24px;
        -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%; }
      .menus .btn-toggle-menu.is-selected .lines:before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg); }
      .menus .btn-toggle-menu.is-selected .lines:after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg); }
  .menus .open-menus {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 26px;
    height: 100%; }
    .menus .open-menus .logo {
      display: block;
      margin: 58px auto 0 auto;
      text-indent: -9999px;
      background-image: url(../images/sprites.png);
      background-position: -2546px -355px;
      width: 80px;
      height: 107px; }
    .menus .open-menus .list-menus {
      margin-top: 38px; }
      .menus .open-menus .list-menus > li {
        padding: 15px 0; }
        .menus .open-menus .list-menus > li a {
          display: block;
          position: relative;
          margin: 0 auto;
          text-indent: -9999px; }
          .menus .open-menus .list-menus > li a:hover:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -8px;
            right: -4px;
            left: -4px;
            height: 3px;
            background-color: #000; }
          .menus .open-menus .list-menus > li a.btn-home {
            background-image: url(../images/sprites.png);
            background-position: -2639px -491px;
            width: 18px;
            height: 19px; }
            .menus .open-menus .list-menus > li a.btn-home:hover {
              background-image: url(../images/sprites.png);
              background-position: -2639px -467px;
              width: 18px;
              height: 19px; }
          .menus .open-menus .list-menus > li a.btn-location {
            background-image: url(../images/sprites.png);
            background-position: -2546px -608px;
            width: 70px;
            height: 19px; }
            .menus .open-menus .list-menus > li a.btn-location:hover {
              background-image: url(../images/sprites.png);
              background-position: -2546px -656px;
              width: 70px;
              height: 19px; }
          .menus .open-menus .list-menus > li a.btn-floor {
            background-image: url(../images/sprites.png);
            background-position: -2546px -728px;
            width: 70px;
            height: 19px; }
            .menus .open-menus .list-menus > li a.btn-floor:hover {
              background-image: url(../images/sprites.png);
              background-position: -2546px -680px;
              width: 70px;
              height: 19px; }
          .menus .open-menus .list-menus > li a.btn-membership {
            background-image: url(../images/sprites.png);
            background-position: -2625px -560px;
            width: 51px;
            height: 19px; }
            .menus .open-menus .list-menus > li a.btn-membership:hover {
              background-image: url(../images/sprites.png);
              background-position: -2631px -412px;
              width: 51px;
              height: 19px; }
          .menus .open-menus .list-menus > li a.btn-coupon {
            background-image: url(../images/sprites.png);
            background-position: -2625px -584px;
            width: 53px;
            height: 18px; }
            .menus .open-menus .list-menus > li a.btn-coupon:hover {
              background-image: url(../images/sprites.png);
              background-position: -2621px -632px;
              width: 53px;
              height: 18px; }
      .menus .open-menus .list-menus.is-hover a.btn-home {
        background-image: url(../images/sprites.png);
        background-position: -2662px -467px;
        width: 18px;
        height: 19px; }
      .menus .open-menus .list-menus.is-hover a.btn-location {
        background-image: url(../images/sprites.png);
        background-position: -2546px -632px;
        width: 70px;
        height: 19px; }
      .menus .open-menus .list-menus.is-hover a.btn-floor {
        background-image: url(../images/sprites.png);
        background-position: -2546px -704px;
        width: 70px;
        height: 19px; }
      .menus .open-menus .list-menus.is-hover a.btn-membership {
        background-image: url(../images/sprites.png);
        background-position: -2631px -436px;
        width: 51px;
        height: 19px; }
      .menus .open-menus .list-menus.is-hover a.btn-coupon {
        background-image: url(../images/sprites.png);
        background-position: -2621px -608px;
        width: 53px;
        height: 18px; }
    .menus .open-menus .banners a {
      display: block;
      margin-top: 20px;
      height: 135px;
      width: 183px;
      background-color: #0f0; }
  .menus .list-indicators {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -179px;
    margin-left: -2px;
    width: 4px; }
    .menus .list-indicators > li {
      margin: 3px 0;
      height: 24px;
      width: 4px;
      background-color: #9a9a9a; }
      .menus .list-indicators > li.long {
        height: 70px; }
      .menus .list-indicators > li.is-selected {
        background-color: #000; }
        .menus .list-indicators > li.is-selected > a span {
          display: block; }
      .menus .list-indicators > li > a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%; }
        .menus .list-indicators > li > a:hover {
          background-color: #000; }
          .menus .list-indicators > li > a:hover span {
            display: block; }
        .menus .list-indicators > li > a span {
          display: none;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: -207px;
          padding-left: 20px;
          height: 48px;
          width: 184px;
          font-size: 12px;
          color: #fff;
          line-height: 48px;
          background-color: #000; }

/* popup */
.popup {
  position: relative;
  padding: 100px;
  background-color: #fff; }
  .popup .mfp-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../images/sprites.png);
    background-position: -2631px -355px;
    width: 52px;
    height: 52px; }
  .popup p {
    display: block;
    width: 900px;
    margin: 0 auto; }
